.about-container {
 /*    max-width: 1200px; */
/*     margin: 0 auto; */
    padding: 20px;
    text-align: center;
}

.about-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.about-content {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}

.about-content p {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .about-container {
        padding: 10px;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-content {
        font-size: 1rem;
    }
}