.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    background-color: #000795;
    color: #C3FF1C;
    overflow: hidden;
    position: relative;
    z-index: 1;
    line-height: 1;
    font-family: var(--ff-k2d);
  }

  .rectangle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  .rectangle {
    width: 15rem;
    height: 200dvh;
    background-color: rgba(0, 0, 0, 0.15);
    transform: rotate(29.3deg);
    opacity: 0;
    position: relative;
  }
  
  .rectangle-1 {
    animation: slideInLeftRotated 0.5s forwards;
    width: 10rem;
    left: 7em;
  }

  .rectangle-2 {
    animation: slideInLeftRotated 0.5s forwards;
    width: 10rem;
    animation-delay: 0.1s;
    background-color: rgba(0, 0, 0, 0.20);
    left: 3.75rem;
  }
   
  .rectangle-3 {
    animation-delay: 1s;
    animation: fadeIn 2s forwards;
    background-color: rgba(0, 0, 0, 0.25);
    width: 9rem;
  }

  .rectangle-4{
    animation: slideInRightRotated 0.5s forwards;
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.20);
    right: 3.76rem;
  }
  .rectangle-5 {
    animation: slideInRightRotated 0.5s forwards;
    width: 10rem;
    animation-delay: 0.1s;
    right: 7rem;
  }
 .all-text-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }
  .big-text-container  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 90px;
    font-size: 50rem;
    position: relative;
  }
  .big-letter-left {
    color: #FF0099;
    letter-spacing: -0.1em;
  }
  .big-letter-right {
    color: #0062FF;  }
  
  .medium-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    bottom: 10rem;
    left: 19.8rem;
    line-height: 4.5rem;
    font-size: 7.2rem;
    font-family: var(--ff-jomhuria);
    font-weight: bold;
    color: #C3FF1C;
  }
  .text-row {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  .small-text-container {
    position: absolute;
    font-family: var(--ff-jomhuria);
    line-height: 1.5rem;
    right: -0.1em;
    bottom: 0.7em;
    color: var(--font-primary-opposite-color);
    font-size: 1.8rem;
  }

  .small-text-container :nth-child(2) {
    font-size: 2.5rem;
  }

  .small-text-row {
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(40, end) forwards;
    opacity: 0;
  }
  
  .small-text-row:nth-child(1) {
    animation-delay: 5s; /* Typing animation delay */
  }
  
  .small-text-row:nth-child(2) {
    animation-delay: 6s; /* Typing animation delay */
  }

  
  /* Animations */

  @keyframes slideInLeftRotated {
    0% {
      transform: translateX(-100%) rotate(29.3deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotate(29.3deg);
      opacity: 1;
    }
  }
  
  @keyframes slideInRightRotated {
    0% {
      transform: translateX(100%) rotate(29.3deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotate(29.3deg);
      opacity: 1;
    }
  }

  @keyframes typing {
    from {
      width: 0;
      opacity: 1;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes neonFlicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56% {
      opacity: 0;
      text-shadow: none;
    }
    20%, 24%, 55% {
      opacity: 1;
      text-shadow: 0 0 5px #C3FF1C, 0 0 10px #C3FF1C, 0 0 20px #C3FF1C, 0 0 40px #C3FF1C, 0 0 80px #C3FF1C, 0 0 90px #C3FF1C, 0 0 100px #C3FF1C, 0 0 150px #C3FF1C;
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 5px #13b476, 0 0 10px #C3FF1C, 0 0 20px #C3FF1C, 0 0 40px #C3FF1C, 0 0 80px #C3FF1C, 0 0 90px #C3FF1C, 0 0 100px #C3FF1C, 0 0 150px #C3FF1C;
    }
  }
  
  .slide-in-left {
    animation: slideInLeft 1s forwards;
  }
  
  .slide-in-left.slow {
    animation: neonFlicker 2s forwards;
  }
  
  .slide-in-right {
    animation: slideInRight 1s forwards;
  }
  
  .text-row:nth-child(1) {
    animation-delay: 1s;
  }
  
  .text-row:nth-child(2) {
    animation-delay: 2s;
  }
  
  .text-row:nth-child(3) {
    animation-delay: 3s;
  }

/* media queries for responsiveness */

@media (max-width: 1080px) {
  .big-text-container {
    font-size: 50rem;
  }
  .medium-text-container {
    bottom: 4.67em;
    left: 3.6em;
    line-height: 3.5rem;
    font-size: 5.7rem;
  }
  .small-text-container {
    line-height: 1.2rem;
    right: -2px;
    bottom: 1rem;
    color: var(--font-primary-opposite-color);
    font-size: 1.5rem;
  }

  .small-text-container :nth-child(2) {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .big-text-container {
    font-size: 40rem;
  }
}

@media (max-width: 576px) {
  .letter-container {
    font-size: 200px;
  }
}

@media (max-width: 480px) {
  .big-letter-container {
    font-size: 40rem;
  }
  .text-row {
    font-size: 5rem;
    line-height: 3rem;
  }
}

@media (max-width: 375px) {
  .big-letter-container {
    font-size: 40rem;
  }
  .text-row {
    font-size: 5rem;
    line-height: 3rem;
  }
}