.hamburger-menu-container {
  display: none;
}

.hamburger-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(154, 154, 154);
}

.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 79px;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.burger-nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.burger-nav-links a {
  color: #000000;
  text-decoration: none;
  margin: 0.5rem 0;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #6a69693a;
  margin-bottom: 1rem;
}

.burger-logout:active {
  background-color: rgb(37, 37, 37);
  color: #ffffff;
  transform: scale(0.95); /* Slightly reduce size for bouncy effect */
}

@media (max-width: 1000px) {
  .hamburger-menu-container,
  .burger-menu .login-button {
    display: block;
    border-radius: 0.2rem;
  }
}

.close-popup {
  position: absolute;
  top: 0.8em;
  right: 1.3em;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-right: 0.2rem;
  color: #000;
}