/* Container for the hamburger menu */
.hamburger-menu-container {
  display: none;
}

/* Hamburger icon styles */
.hamburger-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(154, 154, 154);
}

/* Burger menu styles */
.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 69px;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navigation links within the burger menu */
.burger-nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.burger-nav-links a {
  color: #000000;
  text-decoration: none;
  margin: 0.5rem 0;
  cursor: pointer;
}

/* Divider line within the burger menu */
.divider {
  width: 100%;
  height: 1px;
  background-color: #6a69693a;
  margin-bottom: 1rem;
}

/* Logout button active state */
.burger-logout:active {
  background-color: rgb(37, 37, 37);
  color: #ffffff;
  transform: scale(0.95); /* Slightly reduce size for bouncy effect */
}

/* Media query for screens with max width of 1000px */
@media (max-width: 1000px) {
  .hamburger-menu-container,
  .burger-menu .login-button {
    display: block;
  }
}

/* Close button for the hamburger menu */
.hamburger-close-popup {
  position: absolute;
  top: 0.8em;
  right: 1.3em;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-right: 0.2rem;
  color: #000;
}

/* Media query for screens with max height of 400px */
@media (max-height: 400px) {
  .burger-menu {
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 100;
  }
  .divider {
    margin: 0;
  }
  .hamburger-close-popup {
    position: fixed;
  }
}