.gallery-container {
max-width: 100rem;
margin-inline: auto;
padding-inline: 2rem;
margin: 2rem 0;
display: flex;
flex-direction: column;
flex-grow: 1;
color: var(--font-primary-color);
}

.product-grid {
display: grid;
grid-template-columns: 
repeat( auto-fit, minmax(15rem, 1fr));
gap: 0.25rem;
}