.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.popup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 1.5em;
  position: relative;
  background-color: var(--background-color);
  padding: 0 var(--padding-large) var(--padding-large);
  margin: var(--padding-large) 0;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  animation: popupAnimation 0.2s ease-in-out;
}

.popup-header {
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.popup-main-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.popup-main-title .logo {
  height: 80px; /* Adjust the height as needed */
  margin-left: 3px;
}

.popup-sub-title {
  font-size: var(--font-size-xlarge);
  color: var(--highlight-color);
  align-self: flex-start;
}

.close-popup, .previous-popup {
  cursor: pointer;
  font-size: 20px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.popup-form label {
  display: block;
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: var(--background-color);
  padding: 0 5px;
  font-size: var(--font-size-small);
  pointer-events: none;
  z-index: 100;
  border-radius: 0.5rem;
}

.popup-form input {
  width: 100%;
  padding: var(--padding-medium);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size-large);
  outline: none;
  box-sizing: border-box;
}

.popup-signup-button, .popup-login-button {
  width: 100%;
}

.popup-signup-button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.popup-signup-button:disabled:hover {
  background-color: grey;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}


.popup-links {
  margin-top: 10px;
}

.popup-links a {
  display: block;
  margin-top: 5px;
  color: #007bff;
  cursor: pointer;
}

.popup-links a:hover {
  text-decoration: underline;
}

.popup-no-reset {
  cursor: pointer;
  margin-top: 10px;
  font-size: var(--font-size-medium);
  color: var(--secondary-color);
}

.terms-text, .recaptcha-text {
  font-size: var(--font-size-small);
  color: var(--secondary-color);
  margin-top: 10px;
  text-align: center;
}

.error {
  color: rgb(243, 65, 65);
  font-size: 0.8rem;
  margin: 1rem;
  display: block;
}

.password-strength {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

.password-strength-bar-container {
  position: relative;
  height: 5px;
  margin-top: 5px;
  border-radius: 3px;
  background-color: #e0e0e0;
}

.password-strength-bar {
  height: 100%;
  border-radius: 3px;
  transition: width 0.2s ease-in-out;
}

.password-strength-bar.weak {
  background-color: red;
  width: 33%;
}

.password-strength-bar.moderate {
  background-color: orange;
  width: 66%;
}

.password-strength-bar.strong {
  background-color: green;
  width: 100%;
}

.password-strength-text {
  margin-top: 5px;
  font-size: var(--font-size-small);
  color: var(--primary-color);
}



.thank-you-message h3, .thank-you-message p {
  margin-bottom: 1rem;
}

@keyframes popupAnimation {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 1000px) {

  .popup-form input {
    padding: var(--padding-small);
  }
}

@media (max-width: 430px) {
  .popup-form {
    width: 90%;
  }

  .popup-form h2 {
    font-size: 1.2rem;
  }

  .popup-form input {
    padding: var(--padding-small);
  }

  .popup-form button {
    font-size: calc(0.8rem + 0.1vw);
  }
}

@media (max-width: 320px) {

  .popup-form {
    width: 100vw;
  }

  .popup-form h3 {
    font-size: 1rem;
  }

  .popup-form p {
    font-size: var(--font-size-medium);
  }

  .popup-form button {
    padding: var(--padding-small);
    font-size: var(--font-size-small);
  }

  .popup-links {
    font-size: 0.8rem;
  }
}

@media (max-width: 270px) {

  .popup-form {
    width: 100vw;
  }

  .close-popup {
    font-size: 0.8rem;
  }

  .popup-form h3 {
    font-size: 0.8rem;
  }

  .popup-form p {
    font-size: var(--font-size-small);
  }

  .popup-form button {
    padding: 6px 13px;
    font-size: 10px;
  }

  .popup-links {
    font-size: 0.6rem;
  }
}

@media (max-height: 600px) {
  .popup-form {
    max-height: 100vh;
  }
  .popup-header {
    position: sticky;
/*     top: 0; */
    z-index: 10;
    gap: 0.2em;
    padding: 0 0 var(--padding-medium) 0;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  }
  .popup-body {
    overflow-y: auto;
    padding: var(--padding-medium);
/*     flex-grow: 1; */
  }
}

/* Ensure the popup-body class is applied to the form content */
/* .popup-body {
  overflow-y: auto;
  flex-grow: 1;
} */


.continue-with {
  display: block;
  margin: 15px 0;
  text-align: center;
  font-size: var(--font-size-medium);
  color: var(--secondary-color);
}

.social-login-buttons {
  display: flex;
  justify-content: center;
}

.social-button {
  padding: 0.7em 20px;
  border: 1px solid black;
  border-radius: 45px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  background-color: var(--background-color);
}

.apple-button, .google-button {

  color: #000000;
  margin: 0 10px 0 0;
}

.facebook-button {
  color: #0058dd;
}