.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(5px); /* Soft blur effect */
    text-align: center;
  }
  
  .popup-form {
    position: relative;
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 4px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    animation: popupAnimation 0.2s ease-in-out;
  }
  
  .popup-form h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .popup-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .popup-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .popup-form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .popup-links {
    margin-top: 10px;
    text-align: center;
  }
  
  .popup-links a {
    display: block;
    margin-top: 5px;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .popup-links a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
  
  .password-strength {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
  }
  
  .password-input-container {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
  }
  
  .password-strength-bar-container {
    position: relative;
    height: 5px;
    margin-top: 5px;
    border-radius: 3px;
    background-color: #e0e0e0; /* Background for completion state */
  }
  
  .password-strength-bar {
    height: 100%;
    border-radius: 3px;
    transition: width 0.2s ease-in-out;
  }
  
  .password-strength-bar.weak {
    background-color: red;
    width: 33%;
  }
  
  .password-strength-bar.medium {
    background-color: orange;
    width: 66%;
  }
  
  .password-strength-bar.strong {
    background-color: green;
    width: 100%;
  }
  
  .password-strength-text {
    margin-top: 5px;
    font-size: 12px;
    color: #333;
  }
  
  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-right: 0.2rem;
  }
  
  @keyframes popupAnimation {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @media (max-width: 768px) {
    .popup-form {
      width: 90%;
      padding: 15px;
    }
  
    .popup-form h2 {
      font-size: 1.2rem;
    }
  
    .popup-form input {
      padding: 8px;
    }
  
    .popup-form button {
      padding: 8px 15px;
      font-size: 14px;
    }
  }