.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    backdrop-filter: blur(5px); /* Soft blur effect */
  }
  
  .popup-form {
    position: relative;
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 4px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    animation: popupAnimation 0.2s ease-in-out;
  }
  
  .popup-form h2, .popup-form h5 {
    margin: 0 0 1em;
  }
  
  .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  
  .popup-form label {
    display: block;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    font-size: 12px;
    pointer-events: none;
    z-index: 100;
    border-radius: 0.5rem;
  }
  
  .popup-form input {
    width: 100%;
    padding: 10px;
    /* padding-top: 20px; */ /* Extra padding to ensure space for the label */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
  }
  

  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }

  .submit-button:disabled {
/*     background-color: grey; */
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}

.submit-button:disabled:hover {
    background-color: grey;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}
  
  .popup-links {
    margin-top: 10px;
    text-align: center;
  }
  
  .popup-links a {
    display: block;
    margin-top: 5px;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .popup-links a:hover {
    text-decoration: underline;
  }
  
  .terms-text, .recaptcha-text {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
    text-align: center;
}

  .error {
    color: rgb(243, 65, 65);
    font-size: 0.8rem;
    margin: 1rem;
    display: block;
  }
  
  .password-strength {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
  }
  
  .password-input-container {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
  }
  
  .password-strength-bar-container {
    position: relative;
    height: 5px;
    margin-top: 5px;
    border-radius: 3px;
    background-color: #e0e0e0; /* Background for completion state */
  }
  
  .password-strength-bar {
    height: 100%;
    border-radius: 3px;
    transition: width 0.2s ease-in-out;
  }
  
  .password-strength-bar.weak {
    background-color: red;
    width: 33%;
  }
  
  .password-strength-bar.moderate {
    background-color: orange;
    width: 66%;
  }
  
  .password-strength-bar.strong {
    background-color: green;
    width: 100%;
  }
  
  .password-strength-text {
    margin-top: 5px;
    font-size: 12px;
    color: #333;
  }
  
  .close-popup {
    position: absolute;
    top: 2px;
    right: 7px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-right: 0.2rem;
  }

  .thank-you-message h3, .thank-you-message p {
    margin-bottom: 1rem;
  }
  
  @keyframes popupAnimation {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @media (max-width: 1000px) {
/*     .popup-form {
      width: 40%;
      padding: 15px;
    } */
  
    .popup-form h2 {
      font-size: 1.2rem;
    }
  
    .popup-form input {
      padding: 8px;
    }
  
    .popup-form button {
      padding: 8px 15px;
      font-size: 14px;
    }
  }

  @media (max-width: 430px) {
    .popup-form {
      width: 95%;
      padding: 15px;
    }
  
    .popup-form h2 {
      font-size: 1.2rem;
    }
  
    .popup-form input {
      padding: 8px;
    }
  
    .popup-form button {
      padding: 8px 15px;
      font-size: 14px;
    }
  }

  @media (max-width: 310px) {

    .popup-form {
      width: 100vw;
    }

    .popup-form h3 {
      font-size: 1rem;
    }
  
    .popup-form p {
      font-size: 14px;
    }
  
    .popup-form button {
      padding: 8px 15px;
      font-size: 12px;
    }

    .popup-links {
      font-size: 0.8rem;
    }
  }

  @media (max-width: 270px) {

    .popup-form {
      width: 100vw;
    }

    .popup-form h3 {
      font-size: 0.8rem;
    }
  
    .popup-form p {
      font-size: 12px;
    }
  
    .popup-form button {
      padding: 6px 13px;
      font-size: 10px;
    }

    .popup-links {
      font-size: 0.6rem;
    }
  }

  /* social login button styling  */

  .continue-with {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.social-login-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.apple-button {
    background-color: #000;
    color: #fff;
}

.google-button {
    background-color: #db4437;
    color: #fff;
}

.facebook-button {
    background-color: #3b5998;
    color: #fff;
}