
.search-container {
    display: flex;
    align-items: center;
    box-shadow: var(--search-box-shadow);
    width: auto;
    flex-grow: 1;
    border-radius: 4px;
    padding: 0 7px;
    height: 40px;
    justify-content: center;
    margin-right: 0.5rem;
  }
  
  .search-input {
    border: none;
    outline: none;
    background: none;
    font-size: var(--font-size-medium);
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--font-primary-color);
    height: auto;
  }

  .search-container:focus-within {
    border: 1px solid var(--font-accent-color);
    opacity: 0.9;
  }
  
  .search-button {
    border: none;
    cursor: pointer;
    color: var(--font-accent-color);
    z-index: 12;
    line-height: 1;
  }
  .search-button:hover {
    background: none;
    transform: none;
  }

  .search-button:active {
    background: none;
    transform: none;
  }

.search-button .fa {
    margin: 0;
  }

  @media (min-width: 992px) {
    .search-container {
      position: absolute;
      right: 8rem;
      top: 0;
      transition: width 0.3s ease;
      box-shadow: none;
      border: none;
      height: 35px;
      margin: 1rem 0 0 0;
    }
    
    .search-input {
      width: 0;
      transition: width 0.3s ease, opacity 0.3s ease;
      overflow: hidden;
    }
    .search-container.active .search-input {
      width: 200px;
      background: var(--folded-corner-color);
    }
    .search-container.active {
      box-shadow: var(--search-box-shadow);
      border-radius: var(--border-radius-small);
      background: var(--folded-corner-color);
    }
  }