
.search-container {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    box-shadow: var(--search-box-shadow);
    width: auto;
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.107);
    border-radius: 4px;
    padding: 0 7px;
    height: 45px;
  }
  
  .search-input {
    border: none;
    outline: none;
    font-size: var(--font-size-intermediate);
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--font-primary-color);
    background-color: var(--background-color);
  }

  .search-container:focus-within {
    border: 1px solid rgba(255, 166, 0, 0.484);
  }
  
  .search-button {
    border: none;
    border-radius: none;
    cursor: pointer;
    color: var(--font-accent-color);
    z-index: 12;
    padding: 0;
  }
  .search-button:hover {
    background: none;
    transform: none;
  }

  .search-button:active {
    background: none;
    transform: none;
  }


  @media (max-width: 1080px) {
/*     .search-container {
      margin: 0 0.5rem 0 0;
    } */
  }