
.search-container {
    display: flex;
    align-items: center;
    background: var(--background-color);
    box-shadow: var(--search-box-shadow);
    width: auto;
    flex-grow: 1;
/*     border: 1px solid rgba(0, 0, 0, 0.107); */
    border-radius: 4px;
    padding: 0 7px;
    height: 45px;
  }
  
  .search-input {
    border: none;
    outline: none;
    font-size: var(--font-size-medium);
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--font-primary-color);
    background: var(--background-color);
  }

  .search-container:focus-within {
    border: 1px solid rgba(255, 166, 0, 0.484);
  }
  
  .search-button {
    border: none;
    border-radius: none;
    cursor: pointer;
    color: var(--font-accent-color);
    z-index: 12;
    padding: 0;
  }
  .search-button:hover {
    background: none;
    transform: none;
  }

  .search-button:active {
    background: none;
    transform: none;
  }

/* when over 856px */
  @media (min-width: 856px) {
    .search-container {
      position: absolute;
      right: 7rem;
      top: 1.4rem;
      transition: width 0.3s ease;
      box-shadow: none;
      border: none;
    }
    .search-input {
      width: 0;
/*       opacity: 0; */
      transition: width 0.3s ease, opacity 0.3s ease;
      overflow: hidden;
    }
    .search-container.active .search-input {
      width: 200px;
      background: var(--folded-corner-color);
    }
    .search-container.active {
      box-shadow: var(--search-box-shadow);
      border-radius: var(--border-radius-small);
      background: var(--folded-corner-color);
    }
  }