/* .artwork-submit-button {
    display: block;
    background: var(--secondary-color);
    color: var(--font-primary-opposite-color);
    border: none;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
} */

/* .completion-bar {
    height: 100%;
    background: var(--secondary-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    z-index: 1;
}
.completion-bar.exceeded {
    background: rgba(255, 0, 0, 0.397);
  }

  .completion-bar.valid {
    background: green;
  }

.artwork-submit-button span {
    position: relative;
    z-index: 2;
} */