/* Container for the hamburger menu */


.hamburger-menu-container {
  display: block;
}

/* Hamburger icon styles */
.hamburger-icon {
  cursor: pointer;
  color: var(--font-primary-color);
  font-size: var(--font-size-large);
  line-height: 1;
  top: 0;
  right: 0;
  height: 35px;
  width: 35px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.hamburger-icon:hover, .hamburger-icon:active {
  color: var(--font-accent-color);
}

/* Burger menu styles */
.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
/*   background: var(--background-color); */
  position: absolute;
  top: 0;
  right: 0;
  height: 100svh;
  width: 100svw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding: 1rem;
}


/* //////////////////////////////ANIMATION CONTAINER/////////////////////////////////// */

.burger-menu .animation-container {
  position: absolute;
  border-radius: 50%;
  animation: gradient 4s infinite;
}

@keyframes gradient {
  0%, 100% {
    transform: scale(1) translate(0, 0);
  }
  70% {
    transform: scale(1.2) translate(50px, 50px);
  }
}

.burger-menu .animation-container:nth-child(1) {
  height: 90%;
  width: 80%;
  background: #ff057c;
  background: var(--animation-color-two);
  left: -29%;
  top: -10%;
}

.burger-menu .animation-container:nth-child(2) {
  height: 80%;
  width: 70%;
  background: #800f86;
  background: var(--animation-color-one);
  top: -12%;
  right: -12%;
  animation-delay: 8s;
}

.burger-menu .animation-container:nth-child(3) {
  height: 65%;
  width: 80%;
  background: #1619b9;
  background:var(--animation-color-two);
  bottom: -15%;
  right: -18%;
  animation-delay: 0.3s;
}

.burger-menu .animation-container:nth-child(4) {
  height: 50%;
  width: 75%;
  background: #1ba8e9;
  background: var(--animation-color-one);
  bottom: -10%;
  left: -18%;
  animation-delay: 1.2s;
}

.burger-menu:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  backdrop-filter: blur(80px);
  z-index: 99;
}


/* ///////////////////////////////////////////////////////////////// */


.burger-nav-links {
position: relative;
width: 100%;
}

/* Navigation links within the burger menu */
.burger-nav-links > button {
  margin: 0;
  border-radius: 0;
  border: none;
  width: 100%;
  text-align: left;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-xlarge);
  color: var(--font-primary-opposite-color);
  z-index: 100;
}

.burger-nav-links button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--font-accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.burger-nav-links button:hover {
  background: none;
}

.burger-nav-links button:hover::after {
  transform: scaleX(1);
}

.burger-nav-links .burger-settings, .burger-nav-links .burger-logout{
  padding-left: 0;
}


/* Divider line within the burger menu */
.burger-menu .divider {
  width: 100%;
  height: 1px;
  background: var(--primary-color);
  margin: 1rem 0;
  padding-top: 1px;
  z-index: 100;
}
.burger-menu .auth-login-button {
  display: block;
  position: relative; /* must be specified because otherwise it inherits absolute from header auth button */
  top: 0; /* must be nulled because otherwise it inherits value from header auth button */
  margin: 0.5rem 0;
  font-size: 25px;
  height: fit-content;
/*   line-height: 2;
  width: fit-content; */
  align-items: center;
}

/* Logout button active state */
.burger-logout:active {
  background: var(--background-color);
  color: var(--font-secondary-color);
  transform: scale(0.95); /* Slightly reduce size for bouncy effect */
}

/* Media query for screens with max width of 855px */
@media (min-width: 992px) {
  .hamburger-menu-container,
  .burger-menu .auth-login-button {
    display: none;
  }
}

/* Close button for the hamburger menu */
.hamburger-close-popup {
  cursor: pointer;
  padding: 0;
  border: none;
  border-radius: 0px;
  transform: none;
  font-size: var(--font-size-xlarge);
  color: var(--font-primary-color);
  align-self: self-end;
  background: rgba(0, 0, 0, 0);
  font-weight:lighter;
  z-index: 100;
}
.hamburger-close-popup:hover {
  background: transparent;
  color: var(--font-accent-color);
  transform: scale(0.90);
  transition: none;
}

/* Media query for screens with max height of 400px */
@media (max-height: 400px), (min-width: 992px) {
  .burger-menu {
    top: 0;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
  }
  .burger-menu .divider {
    margin: 1rem 0;
  }
}