/* Container for the hamburger menu */
.hamburger-menu-container {
  display: none;
}

/* Hamburger icon styles */
.hamburger-icon {
  cursor: pointer;
  color: var(--font-primary-color);
  border: 1px solid rgba(0, 0, 0, 0.726);
  line-height: 0;
  padding: 0.84rem;
}

/* Burger menu styles */
.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-color);
  position: absolute;
  top: 69px;
  right: 0;
  width: 100%;
  height: 100svh;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navigation links within the burger menu */
.burger-nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.17rem 0.5em;
}

.burger-nav-links a {
  color: var(--font-primary-color);
  margin: 0.5rem 0;
  cursor: pointer;
}

/* Divider line within the burger menu */
.burger-menu .divider {
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  margin-bottom: 1rem;
  padding-top: 1px;
}

/* Logout button active state */
.burger-logout:active {
  background-color: var(--background-color);
  color: var(--font-secondary-color);
  transform: scale(0.95); /* Slightly reduce size for bouncy effect */
}

/* Media query for screens with max width of 1000px */
@media (max-width: 1000px) {
  .hamburger-menu-container,
  .burger-menu .login-button {
    display: block;
    margin-right: 0.5rem;
  }
}

/* Close button for the hamburger menu */
.hamburger-close-popup {
  position: absolute;
  top: 1.22em;
  right: 1.77em;
  cursor: pointer;
  font-size: 20px;
/*   font-weight: bold; */
  margin-right: 0.2rem;
  color: var(--primary-color);
}

/* Media query for screens with max height of 400px */
@media (max-height: 400px), (max-width: 1000px) {
  .burger-menu {
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 100;
  }
  .burger-menu .divider {
    margin: 0 0 1.5rem 0;
  }
  .hamburger-close-popup {
    position: fixed;
    right: 0.88em;
  }
}