/* Container for the hamburger menu */


.hamburger-menu-container {
  display: block;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
/*   line-height: 1; */
  height: 35px;
  width: 35px;
  border-radius: var(--border-radius-small);
  margin-right: 0.5rem;
}

/* Hamburger icon styles */
.hamburger-icon {
  cursor: pointer;
  color: var(--font-primary-color);
  font-size: var(--font-size-large);
}

.hamburger-icon .fa {
  margin: 0;
}

.hamburger-icon:hover, .hamburger-icon:active {
  color: var(--font-accent-color);
}

/* Burger menu styles */
.burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100svh;
  width: 100svw;
  z-index: 9999;
  overflow: hidden;
  background: transparent;
}


/* //////////////////////////////ANIMATION CONTAINER/////////////////////////////////// */

.burger-menu .animation-container {
  position: absolute;
  border-radius: 50%;
  animation: gradient 4s infinite;
  z-index: 1;
}

@keyframes gradient {
  0%, 100% {
    transform: scale(1) translate(0, 0);
  }
  70% {
    transform: scale(1.2) translate(50px, 50px);
  }
}

.burger-menu .animation-container:nth-child(1) {
  height: 90%;
  width: 80%;
  background: #ff057c;
  background: var(--animation-color-two);
  opacity: 0.8;
  left: -29%;
  top: -10%;
}

.burger-menu .animation-container:nth-child(2) {
  height: 80%;
  width: 70%;
  background: #800f86;
  background: var(--animation-color-one);
  opacity: 0.8;
  top: -12%;
  right: -12%;
  animation-delay: 8s;
}

.burger-menu .animation-container:nth-child(3) {
  height: 65%;
  width: 80%;
  background: #1619b9;
  background:var(--animation-color-two);
  opacity: 0.8;
/*   bottom: -15%; */
  right: -18%;
  animation-delay: 0.3s;
}

.burger-menu .animation-container:nth-child(4) {
  height: 50%;
  width: 75%;
  background: #1ba8e9;
  background: var(--animation-color-one);
  opacity: 0.8;
/*   bottom: -10%; */
  left: -18%;
  animation-delay: 1.2s;
}

.burger-menu:after {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  backdrop-filter: blur(80px);
  z-index: 99;
}


/* ///////////////////////////////END OF ANIMATION CONTAINER////////////////////////////////// */


.burger-nav-links {
position: relative;
display: flex;
flex-direction: column;
width: 100%;
}

/* Navigation links within the burger menu */
.burger-nav-links > button {
  display: flex;
  margin: 0 0.5rem;
  border-radius: 0;
  border: none;
  text-align: left;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-small);
  font-size: 18px;
  color: var(--font-primary-color);
  z-index: 100;
  padding-left: 0;
}

.burger-nav-links button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--font-accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.burger-nav-links button:hover {
  background: none;
}

.burger-nav-links button:hover::after {
  transform: scaleX(1);
}

.burger-nav-links .burger-settings, .burger-nav-links .burger-logout{
  padding-left: 0;
}


/* Divider line within the burger menu */
.burger-menu .divider {
  position: relative;
  width: 100%;
  height: 10px;
  background: #a7a7a71f;
  margin: 1rem 0;
  padding-top: 1px;
  z-index: 100;
}
.burger-menu .auth-login-button {
  position: relative; /* must be specified because otherwise it inherits absolute from header auth button */
  display: block;
  top: 0; /* must be nulled because otherwise it inherits value from header auth button */
}

.burger-menu .logout-button-component {
  padding-left: 0;
}

/* Logout button active state */
.burger-logout:active {
  background: var(--background-color);
  color: var(--font-secondary-color);
  transform: scale(0.95); /* Slightly reduce size for bouncy effect */
}

/* Media query for screens with max width of 855px */
@media (min-width: 992px) {
  .hamburger-menu-container,
  .burger-menu .auth-login-button {
    display: none;
  }
}

/* Close button for the hamburger menu */

.close-popup-container {
  height: 80px;
}

.hamburger-close-popup{
  position: absolute;
  right: 0.9rem;
  top: 1.8rem;
  cursor: pointer;
  padding: 0;
  border: none;
  border-radius: 0px;
  transform: none;
  font-size: var(--font-size-xlarge);
  color: var(--font-primary-color);
  background: rgba(0, 0, 0, 0);
  font-weight:lighter;
  z-index: 100;
  line-height: 1;
}
.hamburger-close-popup .fa {
  margin: 0;
}

.hamburger-close-popup:hover {
  background: transparent;
  color: var(--font-accent-color);
  transform: scale(0.90);
  transition: none;
}

/* Media query for screens with max height of 400px */
/* @media (max-height: 400px), (min-width: 992px) {
  .burger-menu {
    top: 0;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
  }
  .burger-menu .divider {
    margin: 1rem 0;
  }
} */

@media (max-height: 510px), (max-width: 510px) {
  .burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    overflow-y: auto;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
  }
}