/* /////////////////////version 1///////////////////// */

/*  .main-header {
  background-color: rgb(37, 37, 37);
  color: #000000;
  font-size: 1rem;
  border-radius: 0 0 5px 5px;
  position: relative;
  top: 0;
  box-shadow: 2px 9px 17px -5px rgba(139, 139, 139, 0.8);
  background-image: url('/src/assets/artwork-banner-no-logo.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title-container {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.main-title {
  font-size: 4.5rem;
  padding: 1rem 0.5rem 0 0.5rem;
  font-weight: bold;
  justify-self: center; 
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.small-title {
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  font-weight: bold;
  justify-self: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.sub-title a:hover {
  text-decoration: none; 
}


.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  a {
    color: #ffffff;
    text-decoration: none;
    margin: 1rem 1.3rem;
    font-size: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
}
 */

/* /////////////////////version 2/////////////////////  */

.main-header {
  background-color: rgb(37, 37, 37);
  color: #ffffff;
  font-size: 1rem;
/*   border-radius: 0 0 5px 5px; */
  position: sticky;
  top: 0;
  box-shadow: 2px 9px 17px -5px rgba(139, 139, 139, 0.8);
/*   background-image: url('/src/assets/artwork-banner-no-logo.webp'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: 60px;
}

.title-container {
  display: flex;
  align-items: center;
}

.main-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
  white-space: nowrap;
}

.sub-title {
  font-size: 1rem;
  margin-right: 1rem;
  white-space: nowrap;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  white-space: nowrap;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 0.5rem;
}

@media (max-width: 768px) {
  .main-header {
/*     flex-direction: column; */
    align-items: center;
    height: auto;
  }
  .sub-title {
    display: none;
  }

  .search-container {
    width: 100%;
    margin: 0.5rem 0;
  }

  .nav-links {
    width: 100%;
    justify-content: space-between;
  }
  .button-container {
    width: 100%;
    justify-content: flex-end;
  }
}

@media (max-width: 515px) {
  .main-title {
    font-size: 2rem;
  }
}


@media (max-width: 1000px) {
  .nav-links,
  .button-container {
    display: none;
  }

  .hamburger-menu-container {
    display: block;
  }

  .search-container {
    width: 100%;
    margin: 0.5rem 0;
  }
}