.user-page {
    max-width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.profile-section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 1rem 1rem 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.profile-avatar-circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.profile-avatar-circle::before {
    content: '';
    position: absolute;
    inset: -20px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
}

.profile-avatar-circle:hover::before {
    animation: animate 4s linear infinite;
    inset: -10px 20px;
}

.profile-avatar-circle::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--background-color);
    border-radius: 50%;
    z-index: 1;
}

.profile-picture {
    position: absolute;
    inset: 4px;
    border-radius: 50%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
}

/* .profile-picture .fa-camera {
    position: relative;
    text-align: center;
    color: var(--font-primary-color);
    z-index: -1;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    }

.profile-avatar-circle:hover .profile-picture img, .profile-avatar-circle:active .profile-picture img {
    opacity: 0.3;
    z-index: -2;
    transition: 1s;
} */

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--font-primary-color);
}

.profile-text-container {
    flex-direction: column;
    margin-left: 13px;
}

.profile-greeting {
    font-size: var(--font-size-large);
    white-space: nowrap;
    /*     font-family: var(--ff-jomhuria); */
}

.profile-details {
    margin-bottom: 1rem;
}

.profile-details>* {
    margin-top: 0.5rem;
    font-size: var(--font-size-medium);
}

.gallery-buttons {
    display: flex;
    align-items: center;
}

.profile-upload-button {
    font-size: var(--font-size-medium);
    text-align: center;
}

.profile-settings-button {
    font-size: var(--font-size-medium);
    text-align: center;
    margin-left: 1rem;
}

.settings-icon {
    margin-right: 8px;
}

.user-page .divider {
    height: 1px;
    background: var(--secondary-color);
    width: 100%;
}

/* profile gallery layout, serves to the ArtistCard component */

.gallery-container {
    margin-inline: auto;
    padding-inline: 2rem;
    margin: 2rem 0;
    display: flex;
    flex-grow: 1;
    color: var(--font-primary-color);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.gallery-item {
    margin: 1rem;
}

.artwork-details {
    color: var(--font-secondary-color);
}

.empty-gallery-message {
    text-align: center;
    font-size: var(--font-size-intermediate);
    color: var(--font-secondary-color);
}





/* Animations */

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Media Queries for user profile section */

@media (min-width: 856px) {
    .profile-section {
        flex-direction: row;
        max-width: 856px;
        margin: 0 auto;
    }

    .profile-info {
        flex-direction: row;
        margin: 1rem 100px 1rem 0;
    }

    .gallery-buttons {
        margin-bottom: 0;
    }
}

