.user-page {
    max-width: 100%;
    padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.profile-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em 0.5em;
    color: var(--font-primary-color);
}
.profile-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-buttons button {
    margin: 1em 0.5em;
    font-size: calc(10px + 0.2vw);
}

.profile-section span {
    font-size: calc(20px + 0.2vw);
    font-weight: bold;
    white-space: nowrap;
}

.user-page .divider {
    height: 1px;
    background-color: var(--secondary-color);
}

.gallery-section {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.empty-gallery-message {
    text-align: center;
    font-size: 16px;
    color: #666;
    position: absolute;
}
