.user-page {
    max-width: 100%;
    min-width: 300px;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-primary-color);
    margin: 1.5rem 0;
}


.profile-section span {
    font-size: calc(50px + 0.2vw);
    font-weight: bold;
    white-space: nowrap;
    font-family: var(--ff-jomhuria);
    line-height: 40px;
}

.gallery-buttons {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-bottom: 1.5rem;
}
.profile-settings-button {
    font-size: var(--font-size-intermediate);
    text-align: center;
    margin-left: 1rem;
}
.settings-icon {
    margin-right: 8px; /* Adjust the value as needed */
  }

.user-page .divider {
    height: 1px;
    background-color: var(--secondary-color);
    width: 100%;
}

.gallery-section {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.empty-gallery-message {
    text-align: center;
    font-size: var(--font-size-intermediate);
    color: var(--font-secondary-color);
}


.profile-avatar-circle {
    min-width: calc(80px + 0.6vw);
    min-height: calc(80px + 0.6vw);
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}