
.fa-user {
/*   border: 1px solid #000; */
  font-size: var(--font-size-intermediate);
  color: var(--font-primary-color);
  margin: 0 1.5rem;
}

.user-menu {
  display: inline-block;
  align-items: center;
  cursor: pointer;
  position: relative;
  right: 0;
  color: var(--font-primary-color);
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 50%;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  display: flex;
}

.profile-box {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.profile-name {
  margin-left: 10px;
  font-weight: bold;
}

.profile-box a:hover {
  font-weight: bold;

}

.view-profile {
  margin-left: 10px;
  font-size: 12px;
}

.dropdown-content {
  position: absolute;
  background-color: var(--background-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px;
  right: 15px;
  top: 30px;
  width: 200px;
}

.collection-item:hover {
  position: relative;
}

.collection-item:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: var(--font-accent-color);
  animation: underline 0.2s ease-in-out forwards;
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 98%;
  }
}

.usermenu-close-popup {
  display: none;
  position: absolute;
  top: 1.22em;
  right: 1.77em;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-right: 0.2rem;
  color: var(--font-primary-color);
}

.collection,
.favorites,
.settings {
  margin: 10px 0;
}

.collection p,
.favorites p {
  font-weight: bold;
  margin-bottom: 10px;
}

.collection-item {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: var(--font-primary-color);
}

.settings .divider {
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color);
  margin: 1rem 0;
}

@media (max-height: 510px), (max-width: 510px) {
  .dropdown-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    overflow-y: auto;
    padding: 0px;
    box-shadow: none;
    margin: 0;
  }
  .user-links {
    background-color: var(--background-color);
  }
  .usermenu-close-popup {
    display: block;
  }
  .user-info {
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 10;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .collection,
  .favorites,
  .settings {
    margin: 20px;
  }
  .settings .divider {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .dropdown-content {
    right: 0;
  }
  .usermenu-close-popup {
    position: fixed;
    right: 0.88em;
  }
  .fa-user {
    margin: 0 0.5rem 0 1rem;
  }
}

/* Hide scrollbar for all browsers */
.no-scroll {
  overflow: hidden;
}

/* WebKit browsers */
body::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--background-color);
  /* Color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Roundness of the scrollbar thumb */
  border: 3px solid var(--background-color);
  /* Padding around the scrollbar thumb */
}

/* Firefox */
body {
  scrollbar-width: thin;
  /* Width of the scrollbar */
  scrollbar-color: var(--secondary-color) var(--background-color);
  /* Color of the scrollbar thumb and track */
}