.dropdown-content {
  top: 140%;
  position: absolute;
  background-color: var(--card-background-color);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  right: 17px;
  width: 200px;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  z-index: 100;
}

.folded-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 45px;
  border-radius: 5px 0 5px 0;
  box-shadow: var(--corner-box-shadow);
  background-color: var(--folded-corner-color);
}

.corner-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(45px * sqrt(2));
  height: calc(45px * sqrt(2));
  transform: translate(51%, 51%) rotate(45deg);
  background-color: var(--corner-color);
}

.fa-user {
  font-size: var(--font-size-intermediate);
  color: var(--font-primary-color);
  margin: 0 1rem 0 0.5rem;
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
}

.fa-user:hover {
  background-color: transparent;
  color: var(--font-accent-color);
}

.fa-user:active {
  color: var(--font-accent-color);
  transform: scale(0.95);
}

.user-menu {
  position: relative;
  color: var(--font-primary-color);
  z-index: 12;
}

.user-info {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--usermenu-header-color);
  padding: 0.5rem 1rem;
  color: var(--font-primary-opposite-color);
  font-family: var(--ff-k2d);
}

.settings {
  position: relative;
}

.dropdown-content .theme-toggle-container {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 3px;
  z-index: 110;
}

.user-links {
  margin: 20px 0 20px 0;
  padding: 0 1rem;
}

.avatar {
  min-width: 45px;
  min-height: 45px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  display: flex;
}

.profile-box {
  display: flex;
  margin-left: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-name {
  font-size: var(--font-size-intermediate);
  font-weight: bold;
}

.profile-box a:hover {
  font-weight: bold;

}

.view-profile {
  margin-left: 10px;
  font-size: 12px;
}

/* .collection-item:hover {
  position: relative;
  cursor: pointer;
} */

.collection-item:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: var(--font-accent-color);
  animation: underline 0.2s ease-in-out forwards;
}
.collection-item:active {
  color: var(--font-accent-color);
  transform: scale(0.95);
}

@keyframes underline {
  from {
    width: 0;
  }

  to {
    width: 98%;
  }
}

.usermenu-close-popup {
  display: none;
  cursor: pointer;
  color: var(--font-primary-opposite-color);
  font-size: var(--font-size-xlarge);
}

.collection p,
.favorites p {
  font-weight: bold;
  margin-bottom: 10px;
}

.collection-item {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: var(--font-primary-color);
  cursor: pointer;
}

.settings .divider {
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color);
  margin: 1rem 0;
}


@media (max-height: 510px),
(max-width: 510px) {
  .dropdown-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    overflow-y: auto;
    padding: 0px;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
  }

  .user-info .avatar {
    min-width: 60px;
    min-height: 60px;
  }

  .profile-box .profile-name {
    font-size: var(--font-size-xlarge);
  }

  .corner-bottom-right {
    display: none;
  }

  .folded-corner {
    display: none;
  }

  .dropdown-content .theme-toggle-container {
    display: none;
  }

  .user-info .theme-toggle-container {
    position: relative;
  }

  .usermenu-close-popup {
    display: block;
  }

  .user-info {
    position: sticky;
    top: 0;
    padding: 1rem;
    height: 90px;
  }

  .user-links {
    font-size: 35px;
    padding: 0 1rem;
    white-space: nowrap;
  }

  .collection,
  .favorites,
  .settings {
    margin: 20px;
  }

  .settings .divider {
    margin: 0;
  }
}

/* WebKit browsers */
body::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--background-color);
  /* Color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Roundness of the scrollbar thumb */
  border: 3px solid var(--background-color);
  /* Padding around the scrollbar thumb */
}

/* Firefox */
body {
  scrollbar-width: thin;
  /* Width of the scrollbar */
  scrollbar-color: var(--secondary-color) var(--background-color);
  /* Color of the scrollbar thumb and track */
}

@media (min-width: 856px) {
  .dropdown-content {
    top: 75%;
    right: -55px;
  }

  .user-menu {
    position: absolute;
    display: flex;
    align-items: center;
    height: 90px;
    right: 72px;
    top: 0;
    padding: 0;
    margin: 0;
  }

  .fa-user {
    margin-right: 1rem;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .dropdown-content {
    top: 75%;
    right: -159px;
  }
}
@media (min-width: 768px) {
  .login-button {
    position: absolute;
    right: 0;
    top: 1.9rem;
  }
  }
