.dropdown-content {
  top: 140%;
  position: absolute;
  background-color: var(--card-background-color);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  right: 17px;
  width: 200px;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.dropdown-content.open {
  animation: dropIn 0.3s forwards;
}
.dropdown-content.close {
  animation: fadeOut 0.5s forwards;
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.folded-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 45px;
  border-radius: 5px 0 5px 0;
  box-shadow: var(--corner-box-shadow);
  background-color: var(--folded-corner-color);
}

.corner-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(45px * sqrt(2));
  height: calc(45px * sqrt(2));
  transform: translate(51%, 51%) rotate(45deg);
  background-color: var(--corner-color);
}

.fa-user {
  font-size: var(--font-size-intermediate);
  color: var(--font-primary-color);
  margin: 0 1rem 0 0.5rem;
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
}

.fa-user:hover {
  background-color: transparent;
  color: var(--font-accent-color);
}

.fa-user:active {
  color: var(--font-accent-color);
  transform: scale(0.95);
}

.user-menu {
  position: relative;
  color: var(--font-primary-color);
  z-index: 12;
}

.user-info {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--usermenu-header-color);
  padding: 1rem;
  color: var(--font-primary-opposite-color);
  font-family: var(--ff-k2d);
}

.user-links {
  margin: 1rem;
}

.dropdown-content .theme-toggle-container {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 3px;
  z-index: 110;
}

.user-links .collection-item-button {
  margin: 0;
  padding: 0.5rem 0 0.5rem 1rem;
  border-radius: 0;
  border: none;
  width: 100%;
  text-align: left;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-small);
}

.user-links .collection-item-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--font-accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

.user-links .collection-item-button:hover::after {
  transform: scaleX(1);
}

.settings .collection-item-button:nth-child(2){
  width: 76%;
}

.menu-avatar-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.menu-avatar-circle img {
/*   width: 100%;
  height: 100%; */
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.menu-avatar-circle .fa-camera {
  color: var(--font-primary-color);
}

.profile-box {
  display: flex;
  margin-left: 1rem;
  align-items: center;
}

.profile-name {
  font-size: var(--font-size-intermediate);
  font-weight: bold;
}

.profile-box a:hover {
  font-weight: bold;

}

.view-profile {
  margin-left: 10px;
  font-size: 12px;
}



.usermenu-close-popup {
  display: none;
  cursor: pointer;
  color: var(--font-primary-opposite-color);
  font-size: var(--font-size-xlarge);
}

.collection p,
.favorites p {
  font-weight: bold;
  margin-bottom: 10px;
}

.user-links .divider {
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  margin: 1rem 0;
  padding-top: 1px;
}

/* MEDIA QUERY FOR THE FULLSCREEN MENU */

@media (max-height: 510px), (max-width: 510px) {

  .dropdown-content {
    position: fixed;
    top: 0;
    left: 0;  
    width: 100svw;
    height: 100svh;
    overflow-y: auto;
    padding: 0px;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
  }

  .menu-avatar-circle {
    min-width: 70px;
    min-height: 70px;
  }

  .profile-box {
    justify-content: space-between;
    width: 100%;
  }

  .profile-box .profile-name {
    font-size: var(--font-size-xlarge);
  }

  .corner-bottom-right {
    display: none;
  }

  .folded-corner {
    display: none;
  }

  .dropdown-content .theme-toggle-container {
    display: none;
  }

  .user-info .theme-toggle-container {
    position: relative;
  }

  .usermenu-close-popup {
    display: block;
  }

  .user-info {
    position: sticky;
    top: 0;
    padding: 1rem;
    height: 90px;
  }

  .user-links {
    margin: 0;
    padding: 0;
  }

  .user-links button {
    font-size: 35px;
    padding: 0 1rem;
    white-space: nowrap;
  }

  .settings .collection-item-button:nth-child(2){
    width: 100%;
  }

  .collection,
  .favorites,
  .settings {
    margin: 20px;
  }

}

/* WebKit browsers */
body::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--background-color);
  /* Color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Roundness of the scrollbar thumb */
  border: 3px solid var(--background-color);
  /* Padding around the scrollbar thumb */
}

/* Firefox */
body {
  scrollbar-width: thin;
  /* Width of the scrollbar */
  scrollbar-color: var(--secondary-color) var(--background-color);
  /* Color of the scrollbar thumb and track */
}


/* media queries for positioning small menu as screen gets resized horizontally */

@media (min-width: 856px) {
  .dropdown-content {
    top: 75%;
    right: -55px;
  }

  .user-menu {
    position: absolute;
    display: flex;
    align-items: center;
    height: 90px;
    right: 72px;
    top: 0;
    padding: 0;
    margin: 0;
  }

  .fa-user {
    margin-right: 1rem;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .dropdown-content {
    top: 75%;
    right: -159px;
  }
}
@media (min-width: 768px) {
  .login-button {
    position: absolute;
    right: 0;
    top: 1.9rem;
  }
  }
