.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: var(--background-color);
    color: var(--font-primary-color);
}

.homepage-header {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: left;
    font-size: clamp(1.6rem, 1vw + 1rem, 2rem);
}

.homepage-main {
    width: 100%;
}

.homepage-section {
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.homepage-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    width: 100%;
}

.homepage-text {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.homepage-text p {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.1rem);
}

.homepage-img1 {
    grid-column: 3;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homepage-img2 {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .homepage-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .homepage-text {
        grid-column: 1;
        grid-row: 1;
    }

    .homepage-img1 {
        grid-column: 1;
        grid-row: 2;
    }

    .homepage-img2 {
        grid-column: 1;
        grid-row: 3;
    }
}