.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw; /* 100% */
  height: 100svh; /* 100% */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.popup-form {
  width: 100%;
  max-width: 450px;
  position: relative;
  background: var(--card-background-color);
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius-medium);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: var(--font-primary-color);
  animation: popupAnimation 0.1s ease-in-out;
  overflow: hidden;
}


/* .popup-form .animation-container {
  position: absolute;
  border-radius: 50%;
  animation: gradient 4s infinite;
}

@keyframes gradient {
  0%, 100% {
    transform: scale(1) translate(0, 0);
  }
  70% {
    transform: scale(1.2) translate(50px, 50px);
  }
}

.popup-form .animation-container:nth-child(1) {
  height: 90%;
  width: 80%;
  background: #ff057c;
  left: -29%;
  top: -10%;
}

.popup-form .animation-container:nth-child(2) {
  height: 80%;
  width: 70%;
  background: #800f86;
  top: -12%;
  right: -12%;
  animation-delay: 8s;
}

.popup-form .animation-container:nth-child(3) {
  height: 65%;
  width: 80%;
  background: #1619b9;
  bottom: -15%;
  right: -18%;
  animation-delay: 0.3s;
}

.popup-form .animation-container:nth-child(4) {
  height: 50%;
  width: 75%;
  background: #1ba8e9;
  bottom: -10%;
  left: -18%;
  animation-delay: 1.2s;
}

.popup-form:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  backdrop-filter: blur(80px);
  z-index: 99;
} */

.popup-header {
  display: flex;
  gap: 1em;
  flex-direction: column;
  position: relative;
  z-index: 100;
}
.popup-main-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-main-title button {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: var(--font-size-large);
  padding: 0;
  margin: 0;
}
.popup-main-title button:hover {
  background: none;
  color: var(--font-highlight-color);
}

.popup-main-title .logo {
  height: 80px; /* Adjust the height as needed */
  margin-left: 3px;
}

.popup-body {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
.popup-sub-title {
  display: flex;
  font-size: var(--font-size-xlarge);
  color: var(--font-primary-color);
  align-self: flex-start;
  font-family: var(--ff-primary);
  margin: 0 0 1em 0;
  width: 100%;
}

.popup-link-button:hover,
.popup-link-button:focus {
  text-decoration: none;
  transform: none;
  outline: none;
  background: none;
  border: none;
  text-decoration: underline;
  transform: scale(1.1);
  color: var(--font-highlight-color);
}

.popup-link-button:active {
  color: var(--button-active-color);
  transform: scale(1.2);
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.popup-form label {
  display: block;
  position: absolute;
  top: -9px;
  left: 10px;
  background: var(--card-background-color);
  padding: 0 5px;
  font-size: var(--font-size-small);
  pointer-events: none;
  z-index: 100;
  border-radius: var(--border-radius-small);
}

.popup-form input {
  width: 100%;
  padding: var(--padding-medium);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-intermediate);
  outline: none;
  box-sizing: border-box;
  color: var(--font-primary-color);
  background: var(--card-background-color);
  border: 1px solid var(--font-primary-color-transparent);
  height: 50px;
}

input::placeholder {
  font-size: var(--font-size-medium);
}

.popup-form .popup-signup-button, .popup-login-button {
  width: 100%;
  color: var(--font-primary-opposite-color);
  background: var(--button-hover-color);
  height: 50px;
}
.popup-login-button .spinner-container {
  min-height: 30px;
  height: 40px;
}
.popup-login-button .spinner-container .spinner {
  width: 30px;
  height: 40px;
}

.popup-form button:disabled {
  background: var(--button-disabled-color);
  color: var(--font-primary-opposite-color);
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
  border: none;
}

.popup-signup-button:disabled:hover {
  background: grey;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}


.popup-links {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.popup-link-button {
  background: none;
  border: none;
  border-radius: 0;
  color: var(--font-highlight-color);
  cursor: pointer;
  font-size: var(--font-size-intermediate);
  padding: 0;
}

.popup-link-button:hover,
.popup-link-button:focus {
  text-decoration: none;
  transform: none;
  outline: none;
  background: none;
  border: none;
  text-decoration: underline;
  transform: scale(1.1);
  color: var(--font-highlight-color);
}

.popup-link-button:active {
  color: var(--button-active-color);
  transform: scale(1.2);
}

.popup-no-reset {
  cursor: pointer;
  margin-top: 10px;
  font-size: var(--font-size-medium);
  color: var(--font-secondary-color);
}

.terms-text, .recaptcha-text {
  font-size: var(--font-size-medium);
  color: var(--font-secondary-color);
  margin-top: 10px;
  text-align: center;
  position: relative;
  z-index: 100;
}

.terms-text {
  margin-top: 2rem;
}

.error {
  color: rgb(243, 65, 65);
  font-size: 0.8rem;
  margin: 15px 0;
  display: block;
}

.password-strength {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

.password-strength-bar-container {
  position: relative;
  height: 5px;
  margin-top: 15px;
  border-radius: 3px;
  background: #e0e0e0;
}

.password-strength-bar {
  height: 100%;
  border-radius: 3px;
  transition: width 0.2s ease-in-out;
}

.password-strength-bar.weak {
  background: red;
  width: 33%;
}

.password-strength-bar.moderate {
  background: orange;
  width: 66%;
}

.password-strength-bar.strong {
  background: green;
  width: 100%;
}

.password-strength-text {
  margin-top: 5px;
  font-size: var(--font-size-medium);
  color: var(--font-primary-color);
}



.thank-you-message h3, .thank-you-message p {
  margin-bottom: 1rem;
}

@keyframes popupAnimation {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 1080px) {

  .popup-form input {
    padding: var(--padding-small);
  }
}

@media (max-width: 480px) {
  .popup-form {
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    border-radius: 0;
  }

  .popup-form h2 {
    font-size: 1.2rem;
  }

  .popup-form input {
    padding: var(--padding-small);
  }

  .popup-main-title button {
    font-size: var(--font-size-large);
  }
}

@media (max-width: 320px) {

  .popup-form p {
    font-size: var(--font-size-medium);
  }

  .popup-links {
    font-size: var(--font-size-intermediate);
  }
  .popup-sub-title {
    font-size: var(--font-size-large);
  }
  .popup-main-title button {
    font-size: var(--font-size-large);
  }
}

@media (max-width: 270px) {


  .popup-form p {
    font-size: var(--font-size-small);
  }

  .popup-links {
    font-size: var(--font-size-intermediate);
  }
  .popup-sub-title {
    font-size: var(--font-size-intermediate);
  }
  .popup-main-title button {
    font-size: var(--font-size-intermediate);
  }
}

@media (max-height: 510px){
  .popup-form {
    height: 100svh;
  }
  .popup-header {
    position: sticky;
/*     top: 0; */
    z-index: 10;
    gap: 0.2em;
    padding: 0 0 var(--padding-medium) 0;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  }
  .popup-body {
    max-height: 100svh;
    overflow-y: auto;
    height: auto;
    padding: var(--padding-medium);
    flex-grow: 1;
  }
}

/* Ensure the popup-body class is applied to the form content */
/* .popup-body {
  overflow-y: auto;
  flex-grow: 1;
} */


.continue-with {
  display: block;
  margin-top: 25px;
  text-align: center;
  font-size: var(--font-size-medium);
  color: var(--font-secondary-color);
}

.social-login-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.social-button {
  border: 1px solid var(--font-primary-color-transparent);
  border-radius: var(--border-radius-rounded);
  cursor: pointer;
  width: 100%;
  height: 50px;
}

.apple-button, .google-button {

  color: var(--font-primary-color);
  margin: 0 10px 0 0;
}

.facebook-button {
  color: #0058dd;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.thank-you-message {
  background: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.password-reset-success-message {
  background: var(--secondary-color);
  color: var(--font-primary-color);
  font-size: var(--font-size-medium);
  margin-bottom: 15px;
  border-radius: var(--border-radius-small);
  padding: 10px;
}