.carousel-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel-slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-loading-placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(
        90deg,
        var(--gradient-start-color, var(--card-background-color)) 25%,
        var(--gradient-end-color, var(--secondary-color)) 75%
    );
/*     background: var(--background-color); */
    pointer-events: none;
}
  
.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 1%;
    background: rgba(0, 0, 0, 0.359);
    color: white;
    padding: 10px;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 0.8rem);
    text-align: center;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.293);
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 0;
    border: none;
    height: auto;
}

.carousel-arrow:hover {
    transform: none;
    background: rgba(0, 0, 0, 0.293);
    color: white;
    transform: translateY(-50%);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.carousel-lines {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.carousel-line {
    width: 100px;
    height: 2px;
    background: white;
    opacity: 0.5;
}

.carousel-line.active {
    opacity: 1;
}

@media (max-width: 768px) {
    .carousel-arrow {
        font-size: 1.5rem;
        padding: 5px;
    }

    .carousel-line {
        width: 15px;
    }
}