.carousel-container {
    width: 100%;
    height: 500px;
/*     overflow: hidden; */
}

.carousel-slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-loading-placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(90deg,
            var(--gradient-start-color, var(--card-background-color)) 25%,
            var(--gradient-end-color, var(--secondary-color)) 75%);
    /*     background: var(--background-color); */
    pointer-events: none;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 1%;
    background: rgba(0, 0, 0, 0.359);
    color: white;
    padding: 10px;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 0.8rem);
    text-align: center;
}

.carousel-dynamic-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 70px;
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.carousel-arrow {
    font-size: 1rem;
    color: rgb(216, 214, 255);
    background: transparent;
    padding: 0;
    cursor: pointer;
    z-index: 3;
    border-radius: 50%;
    min-width: 40px;
    height: 40px;
    line-height: 0;
}

.carousel-arrow:hover {
    border-color: transparent;
}

.left-arrow, .right-arrow {
    margin: 0 10px;
}

.carousel-lines {
    display: flex;
    gap: 15px;
    z-index: 3;
    width: 100%;
}

.carousel-line {
    width: 100%;
    height: 1px;
    background: var(--font-accent-color);
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out; /* Add transition for smooth change */
}

.carousel-line.active {
    opacity: 1;
}


.homepage-title {
    font-size: 2.3em;
    text-align: left;
    font-family: var(--ff-k2d);
    width: fit-content;
    /* white-space: nowrap; */
}

.homepage-section {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.homepage-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    hyphens: auto;
    background-color: var(--card-background-color);
    padding: 0 2rem;
    z-index: 2;
}

.homepage-img1 {
    width: 50%;
    object-fit: cover;
    height: 100%;
}

.homepage-text p {
    font-size: clamp(0.9rem, 3svw, 1rem);
    font-family: var(--ff-k2d);
}

.carousel-text-full {
    display: block;
    margin: 2rem 0 3rem 0;
}

.carousel-text-short {
    display: none;
    padding: 0;
    font-size: 1rem;
}

.homepage-text button {
    width: 250px;
    /*     margin: 0 auto; */
    border-radius: 45px;
    font-size: var(--font-size-intermediate);
}

@media (max-width: 768px) {

    .homepage-section {
        flex-direction: column;
        width: 100%;
    }

    .homepage-title {
        margin: 1rem 0;
        font-size: clamp(1.6rem, 4svw, 3.2rem);
    }

    .homepage-text {
        width: 100%;
    }

    .carousel-text-full {
        display: none;
    }

    .carousel-text-short {
        display: block;
        margin: 0;
    }
    
    .homepage-img1 {
        width: 100%;
        height: 85%;
    }

    .carousel-dynamic-content {
        height: 39px;
    }
    .carousel-navigation {
        display: none;
    }

    .homepage-text button {
        width: fit-content;
        margin-top: 2rem;
        margin-bottom: 1rem;
        border-radius: 45px;
        height: 40px;
        padding: 0 40px;
        font-size: 15px;
    }

}

@media (min-width: 769px) and (max-width: 991px) {

    .homepage-title {
        padding: 1rem 0;
        font-size: clamp(1.7rem, 3.5svw, 2rem);
        text-align: left;
        font-family: var(--ff-k2d);
        word-wrap:break-word;
        white-space: nowrap;
        hyphens: auto;
    }

    .homepage-section {
        flex-direction: row;
    }

    .carousel-text-full {
        margin: 0 0 1rem 0;
    }


    .homepage-text {
        padding: 0 3rem;
    }

    .carousel-text-full {
        margin: 1rem 0 3rem 0;
    }
    .homepage-text p {
        font-size: 1.1rem;
    }

    .homepage-img1 {
        width: 50%;
        object-fit: cover;
    }

}

@media (min-width: 992px) and  (max-width: 1301px) {
    .homepage-text {
        padding: 0 4rem;
    }

    .homepage-text p {
        font-size: 1.2rem;
    }

    .homepage-title {
        white-space: nowrap;
    }
}

@media (min-width: 1302px) {
    .homepage-text {
        padding: 0 6rem;
    }
    .homepage-title {
        font-size: 3rem;
        white-space: nowrap;
    }

    .carousel-text-full {
        margin: 2rem 0 3rem 0;
    }

    .homepage-text p {
        font-size: 1.3rem;
    }

    .homepage-text button {
        width: 250px;
        border-radius: 45px;
        font-size: var(--font-size-large);
    }

}