/* styling for the overall settings page */

.settings-page {
  padding: 20px;
  background: transparent;
  color: var(--font-primary-color);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
/*   min-width: 320px; */
}

.settings-title {
  margin-bottom: 20px;
  font-size: var(--font-size-xxlarge)
}

.settings-shelf {
border-bottom: 1px solid #ccc;
margin-bottom: 20px;
display: flex;
white-space: nowrap;
font-size: var(--font-size-large);
justify-content: space-between;
align-items: center;
}

.tabs {
  display: flex;
  white-space: nowrap;
  font-size: var(--font-size-large);
}

.tab {
  padding: 10px 15px 10px 0;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: var(--primary-color);
}

.tab.active {
  border-bottom: 2px solid var(--font-accent-color);
  font-weight: bold;
}

.tab-content {
  background: var(--background-color);
  color: var(--font-primary-color);
/*   min-width: 330px; */
  flex-grow: 1;
}

/* edit profile page styles */

.success {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(69, 187, 98);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.5s forwards, fadeOut 0.5s 1.5s forwards;
  z-index: 100;
}

@keyframes slideUp {
  to {
    bottom: 50px;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.edit-profile-page {
  max-width: 500px;
  color: var(--font-primary-color);
}

.settings-page .form-layout, .settings-page .account-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-page .form-group {
  margin-bottom: 15px;
}

.settings-page input, textarea {
  width: 100%;
  padding: 8px;
  background: var(--background-color);
  color: var(--font-primary-color);
  height: 50px;
}

.settings-page .form-group .avatar-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}


.settings-page .select-avatar-text {
  font-size: var(--font-size-intermediate);
  color: var(--font-primary-color);
  cursor: pointer;
  white-space: nowrap;
}
.settings-page .delete-avatar-text {
  font-size: var(--font-size-small);
  color: var(--font-accent-color);
  cursor: pointer;
  white-space: nowrap;
}

.select-avatar-text:hover, .delete-avatar-text:hover {
  text-decoration: underline;
}

 #about {
  resize: none;
  height: 80px;
}

.save-button {
  display: flex;
  width: 100%;
  height: 45px;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;
}

.save-button:disabled {
  background: var(--secondary-color);
  cursor: not-allowed;
}

.avatar-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  text-align: center;
}

.empty-avatar-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  border: 1px solid var(--border-color);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.avatar-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  text-align: center;
  align-content: center;
  font-size: var(--font-size-small);
}


/* edit account page styles */

.edit-account-page {
  max-width: 500px;
  background: var(--background-color);
  color: var(--font-primary-color);
}

.email-reset-form,
.password-reset-form {
margin-bottom: 15px;
position: relative;
}

.email-reset-form label,
.password-reset-form label {
display: block;
position: absolute;
top: -10px;
left: 10px;
background: var(--background-color);
padding: 0 5px;
font-size: var(--font-size-small);
pointer-events: none;
z-index: 1;
border-radius: var(--border-radius-medium);
}

.email-reset-form input,
.password-reset-form input {
width: 100%;
padding: var(--padding-medium);
border: 1px solid var(--border-color);
border-radius: var(--border-radius);
outline: none;
box-sizing: border-box;
background: var(--background-color);
}

.email-reset-form input::placeholder,
.password-reset-form input::placeholder {
font-size: var(--font-size-medium);
}


/* media queries */
@media (max-width: 400px) {
  .settings-title {
    font-size: var(--font-size-xlarge);
  }
  .tabs {
    font-size: var(--font-size-intermediate);
  }

  .tab-content {
    font-size: var(--font-size-medium);
  }

  .tab-content .avatar-text {
    font-size: var(--font-size-medium);
  }

  .account-layout button {
    font-size: var(--font-size-medium);
  }
}

.error-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #ff4500;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: slideUp 0.5s ease-out;
}