/* styling for the overall settings page */

.settings-page {
  padding: 20px;
  background-color: var(--background-color);
  color: var(--font-primary-color);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  min-width: 240px;
}

.settings-title {
  margin-bottom: 20px;
  font-size: 2rem;
}

.settings-shelf {
border-bottom: 1px solid #ccc;
margin-bottom: 20px;
display: flex;
white-space: nowrap;
font-size: var(--font-size-large);
justify-content: space-between;
align-items: center;
}

.tabs {
  display: flex;
  white-space: nowrap;
  font-size: var(--font-size-large);
}

.tab {
  padding: 10px 15px 10px 0;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: var(--primary-color);
}

.tab.active {
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.tab-content {
  background-color: var(--background-color);
  color: var(--font-primary-color);
  min-width: 330px;
  flex-grow: 1;
}

/* edit profile page styles */

.success {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(69, 187, 98);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.5s forwards, fadeOut 0.5s 1.5s forwards;
  z-index: 100;
}

@keyframes slideUp {
  to {
    bottom: 50px;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.edit-profile-page {
  max-width: 500px;
  background-color: var(--background-color);
  color: var(--font-primary-color);
}

.form-layout, .account-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group .avatar-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.select-avatar-text {
  font-size: var(--font-size-large);
  color: var(--font-primary-color);
  cursor: pointer;
  white-space: nowrap;
}
.delete-avatar-text {
  font-size: var(--font-size-small);
  color: var(--font-accent-color);
  cursor: pointer;
  white-space: nowrap;
}

.select-avatar-text:hover, .delete-avatar-text:hover {
  text-decoration: underline;
}

#about {
  resize: vertical;
  height: 150px;
}

.save-button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  margin-top: 20px;
}

.save-button:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}

.avatar-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; /* Ensure the image doesn't overflow the container */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  text-align: center;
}

.empty-avatar-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; /* Ensure the image doesn't overflow the container */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}

.avatar-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/* edit account page styles */

.edit-account-page {
  max-width: 500px;
  background-color: var(--background-color);
  color: var(--font-primary-color);
}

.email-reset-form,
.password-reset-form {
margin-bottom: 15px;
position: relative;
}

.email-reset-form label,
.password-reset-form label {
display: block;
position: absolute;
top: -10px;
left: 10px;
background-color: var(--background-color);
padding: 0 5px;
font-size: var(--font-size-small);
pointer-events: none;
z-index: 1;
border-radius: var(--border-radius-medium);
}

.email-reset-form input,
.password-reset-form input {
width: 100%;
padding: var(--padding-medium);
border: 1px solid var(--border-color);
border-radius: var(--border-radius);
font-size: var(--font-size-intermediate);
outline: none;
box-sizing: border-box;
background-color: var(--background-color);
}

.email-reset-form input::placeholder,
.password-reset-form input::placeholder {
font-size: var(--font-size-medium); /* Adjust the size as needed */
}



@media (max-width: 1080px) {
  .account-layout button {
    font-size: var(--font-size-intermediate);
  }
}

@media (max-width: 480px) {
.email-reset-form input,
.password-reset-form input {
  padding: var(--padding-small);
}
}

@media (max-width: 320px) {
.email-reset-form input,
.password-reset-form input {
  padding: var(--padding-small);
  font-size: var(--font-size-small);
}
}

@media (max-width: 270px) {
.email-reset-form input,
.password-reset-form input {
  padding: 6px 13px;
  font-size: 10px;
}
}

/* media queries for mobile */
@media (max-width: 480px) {
  .settings-title {
    font-size: var(--font-size-xlarge);
  }
  .tabs {
    font-size: var(--font-size-intermediate);
  }

  .tab-content {
    font-size: var(--font-size-medium);
  }

  .tab-content .avatar-text {
    font-size: var(--font-size-medium);
  }

  .account-layout button {
    font-size: var(--font-size-medium);
  }
}

@media (max-width: 375px) {
  .tabs {
    font-size: var(--font-size-intermediate);
  }
  .tab-content {
    font-size: var(--font-size-medium);
  }

  .tab-content .avatar-text {
    font-size: var(--font-size-medium);
  }

  .account-layout button {
    font-size: var(--font-size-medium);
  }
  .theme-toggle {
    font-size: var(--font-size-intermediate);
  } 
}

.error-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff4500; /* Red orange poppy color */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: slideUp 0.5s ease-out;
}