
.error-fallback-container {
    background: var(--background-color);
    color: var(--font-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    flex-direction: column;
  }
  
  .error-fallback-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .error-fallback-container p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .error-fallback-container button {
    margin-top: 20px;
    font-size: 1.2rem;
    color: var(--font-highlight-color);
    background: transparent;
    border: 1px solid var(--font-highlight-color);
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: var(--border-radius-small);
  }
  
  .error-fallback-container button:hover {
    background: var(--font-highlight-color);
    color: var(--background-color);
  }