.artwork__detail__page {
    display: flex;
    flex-direction: column;
    color: var(--font-primary-color);
    padding: 20px;
}

.dummybox_placeholder {
    margin-top: 20px;
    grid-column: span 12;
}

.image__slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background: linear-gradient(to right, rgba(230, 230, 230, 0.078), rgba(230, 230, 230, 0.127));
     background: transparent;
    border-radius: var(--border-radius-small);
    overflow: hidden;
/*     height: 70vh; */
}

.image__slider img {
    object-fit: contain;
    position: relative;
/*     max-height: 70vh; */
}

.slider__button{
    position: absolute;
/*     top: 50%;
    transform: translateY(-50%); */
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    color: white;
    padding: 15px 10px;
    z-index: 1;
}

.slider__button.prev {
    left: 10px;
}

.slider__button.next {
    right: 10px;
}

.slider__button.prev,
.slider__button.next {
    background-color: transparent;
    color: white;
    border-radius: var(--border-radius-small);
    font-size: 40px;
    mix-blend-mode: difference;
}

.clickable__image__zoom {
    appearance: none;
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color: transparent;
    color: inherit;
    font: inherit;
    text-align: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    background: var(--card-background-color);
}
.clickable__image__zoom:active{
    transform: none;
}

.image__indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
/*     justify-content: center; */
    gap: 5px;
    z-index: 1;
  }
  
  .indicator {
    width: 50px;
    height: 3px;
    background: white;
    opacity: 0.5;
  }
  
  .indicator.active {
    background-color: #333;
  }

  .artwork__details__divider {
    width: 100%;
    border-bottom: 1px solid var(--font-primary-color);
    margin: 1rem 0 2rem 0;
}


.artwork__detail__page .back-button {
    grid-column: span 10;
    width: 100%;
    margin-bottom: 0;
}


.artwork__details {
margin-top: 30px;
}

.artwork__detail__label {
    display: inline-flex;
    margin-right: 20px;
    min-width: 105px;
    font-weight: bold;
    color: var(--font-secondary-color)
}

.artwork__detail {
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    hyphens: auto;
    word-wrap: anywhere;
}

.artwork__details p:nth-child(6) {
    flex-direction: column;
}

.artwork__detail__title__year {
    font-size: 26px;
    font-style: italic;
    margin-bottom: 1rem;
    color: var(--font-secondary-color)
}

.artwork__detail__title {
    hyphens: auto;
    word-wrap: break-word;
}
.artwork__detail__year {
    display: inline;
}

/* ///////////////////////////MEDIA QUERIES/////////////////////// */


@media (min-width: 768px) {
    .artwork__detail__page {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        /* padding-inline: 2rem; */
        color: var(--font-primary-color);
    }

    .image__slider {
        grid-column: span 6;
        height: 100%;
    }

    .artwork__details {
        grid-column: span 6;
        margin-top: 0;
/*         display: flex; */
/*         flex-direction: column; */
/*         justify-content: center; */
    }

    .artwork__detail__title__year {
        font-size: 25px;
    }

    .artwork__detail {
        font-size: 15px;
        margin-bottom: 1.5rem;
    }

    .artwork__details__divider {
        display: none;
    }
}

@media (min-width: 992px) {
    .artwork__detail__title__year {
        font-size: 30px;
    }

    .image__slider {

        height: 70vh;
    }
    .image__slider img {
        max-height: 70vh;
    }

    .slider__button{
        font-size: 1.2rem;
    }
}


/* overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.503);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
  }
  
  .overlay__content {
    position: relative;
    padding: 20px;
    border-radius: 10px;
  }
  
  .overlay__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 1200;
  }
  .overlay__close:hover {
    background: none;
  }
  
  .overlay__image {
    max-width: 100%;
    max-height: 80vh;
    transition: transform 0.3s;
  }
  
  .overlay__zoom__slider {
    width: 200px;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    cursor: grabbing;
  }
