.hamburger-menu-skeleton {
    display: flex;
  }
  
  .skeleton-icon {
    font-size: var(--font-size-large);
    margin: 1px 1rem 0 1rem;
    color: #ccc; /* Adjust to match the desired skeleton color */
    animation: flicker 1.5s infinite;
    pointer-events: none; /* Make it unclickable */
  }
  
  @keyframes flicker {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }