
.main-header {
  background-color: var(--background-color);
  font-size: var(--font-size-medium);
  position: sticky;
  top: 0;
  transition: box-shadow 0.1s ease, border-bottom 0.1s ease;
  border-bottom: 1px solid var(--secondary-color);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 80px;
}
.main-header.scrolled {
  border-bottom: none;
  box-shadow: 2px 9px 17px -5px rgba(139, 139, 139, 0.8);
}

.title-container {
  display: flex;
  align-items: center;
}

.main-title .initial {
  font-size: 2rem;
  font-weight: bold;
}
.main-title {
  font-size: calc(18px + 1vw);
  font-weight: bold;
  margin-right: 1rem;
  white-space: nowrap;
  color: #c70000;
}
.main-title .logo {
  height: 70px;
  min-width: 70px;
}

.sub-title {
  font-size: 1rem;
  margin-right: 1rem;
  white-space: nowrap;
  color: #000000;
}

.nav-links {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  white-space: nowrap;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: var(--font-size-intermediate);
}


@media (max-width: 1000px) {
  .nav-links,
  .login-button {
    display: none;
  }
  
  .hamburger-menu-container {
    display: block;
    padding: 10px;
  }
  .search-container {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .main-header {
    align-items: center;
  }
  .sub-title {
    display: none;
  }

  .search-container {
    width: 100%;
    margin: 0.5rem 0;
  }

  .nav-links {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 515px) {
  .main-title {
    font-size: 2rem;
  }
  .main-header {
    padding: 0 0.1rem 0 0.5rem;
  }
}