/* the reference styling is for mobile view, then subsequently it gets styled for wider screens  */

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.header-container.shrink {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04);
}

.main-header, .title-container, .main-title, .sub-title, .nav-links {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.main-header {
  background: var(--background-color);
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 9999;
  top: 0;
  position: fixed;
  height: 80px;
}

.title-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  position: relative;
}

.main-title {
  color: var(--font-accent-color);
  font-family: var(--ff-jomhuria);
  line-height: 0.6;
  font-size: 2.2rem;
  cursor: pointer;
  width: 70px;
}
.main-title:hover, .main-title:active {
  transform: scale(0.98);
}

.main-title .logo {
  height: 60px;
  min-width: 60px;
  display: none;
  margin-right: 0.5rem;
}

.sub-title {
  font-size: 11px;
  white-space: nowrap;
  color: var(--font-primary-color);
  position: absolute;
  color: var(--font-accent-color);
  font-family: var(--ff-k2d);
  bottom: 0px;
  right: 0px;
  display: none;
}

.sub-title a {
  color: var(--font-accent-color);
}

.auth-login-button {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  white-space: nowrap;
  display: none;
  position: absolute;
  bottom: 10px;
  color: var(--font-primary-color);
  text-decoration: none;
}

.nav-links a:nth-child(-n+3) {
  padding: 0 1rem 0 0;
}


/* media query for larger screens */

@media (max-width: 400px) {
  .main-title .logo {
    display: block;
  }
  .main-title {
    margin-top: 0;
  }
  .main-title .text {
    display: none;
  }
  .sub-title {
    display: none;
  }
}

@media (min-width: 992px) {

  .header-container.shrink {
    justify-content: center;
    align-items: center;
/*     text-align: center; */
  }
  
  .main-title.shrink {
    font-size: 7rem;

  }

  .sub-title.shrink {
    font-size: 20px;
  }

  .nav-links.shrink {
/*     font-size: var(--font-size-intermediate); */
    bottom: 0;
  }

  .header-container {
    max-width: 992px;
    flex-direction: column;
    position: relative;
  }

  .main-header {
    flex-direction: column;
    padding: 1rem 0;
    height: auto;
  }
  .nav-links {
    margin: 0;
    z-index: 10;
    display: block;
  }

  .header-container .auth-login-button {
    display: block;
    position: absolute;
    right: 2rem;
    top: 0;
    height: 35px;
    text-align: center;
    padding: 0 25px;
    font-size: var(--font-size-medium);
  }

  .title-container {
    flex-direction: column;
    position: relative;
  }
  .main-title {
    font-size: 10rem;
    padding-top: 0;
    white-space: nowrap;
    line-height: 1;
    width: 100%;
  }


  .sub-title {
    border-radius: var(--border-radius-small);
    font-size: 30px;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.856);
    font-family: var(--ff-jomhuria);
    rotate: -10deg;
    bottom: 15px;
    display: block  ;
  }


  
}

/* subtitle animation */

.sub-title:hover {
  animation: rotate-shake 0.3s;
}

@keyframes rotate-shake {
  0%, 100% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(0deg);
  }
}