.upload-artwork {
    margin: 0 auto;
    width: 100%;
    background: var(--background-color);
    color: var(--font-primary-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.upload-artwork h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    flex-grow: 1;
    align-content: space-evenly;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    display: block;
    position: absolute;
    top: -9px;
    background: var(--background-color);
    padding: 0 5px;
    font-size: var(--font-size-small);
    pointer-events: none;
    z-index: 100;
    border-radius: var(--border-radius-medium);
}

.form-group > :nth-child(2n+1) {
    left: 10px;
}

.form-group #height,
.form-group #width,
.form-group #depth {
    margin-left: 10px;
}


.form-group-upload {
    margin-top: 20px;
}

.upload-artwork .form-group input,
.upload-artwork .form-group textarea {
    width: 100%;
    padding: 8px;
    background: var(--background-color);
    color: var(--font-primary-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
    font-size: small;
    height: 50px;
}

.select-wrapper #medium {
    background: var(--background-color);
    color: var(--font-primary-color);
    height: 50px;
    position: relative;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.drop-zone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    font-size: var(--font-size-xlarge);
}

.drop-zone span {
    margin-top: 10px;
    font-size: var(--font-size-medium);
    color: var(--secondary-color);
}

.file-button-container {
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: var(--margin-large);
}

.add-artwork-button {
    font-size: var(--font-size-medium);
}
.artwork-upload-error-message {
    color: red;
    font-size: var(--font-size-medium);
    margin-left: 10px;
}

.file-list {
    margin-top: 10px;
}

.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: var(--font-size-medium);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
}

.file-preview {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.file-preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 100px;
    background: var(--secondary-color);
    margin-right: 10px;
}

.file-info {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-list button {
    font-size: var(--font-size-medium);
}

.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}

.file-size {
    flex-shrink: 0;
    margin: 0 var(--margin-large);
}

.artwork-submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background: var(--secondary-color);
    color: var(--font-primary-opposite-color);
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.artwork-submit-button:disabled {
    background: var(--button-disabled-color);
    color: var(--font-secondary-color);
    cursor: not-allowed;
    transform: none; 
}

/* .artwork-submit-button:disabled:hover {
    background: grey;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
    transform: none; 
  } */

.completion-bar {
    height: 100%;
    background: var(--secondary-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    z-index: 1;
    /* Ensure the completion bar is below the button text */
}
.completion-bar.exceeded {
    background: rgba(255, 0, 0, 0.397);
  }

  .completion-bar.valid {
    background: green;
  }

button span {
    position: relative;
    z-index: 2;
    /* Ensure the button text is above the completion bar */
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-grid .form-group {
    margin-bottom: 0;
}

.dimensions-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column: span 2;
}

.dimension {
    display: flex;
    flex-direction: column;
}

.input-with-unit {
    position: relative;
}

.input-with-unit input {
    padding-right: 30px;
}

.input-with-unit::after {
    content: 'cm';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: var(--font-size-small);
}

.full-width {
    grid-column: span 2;
}

@media (max-width: 600px) {
    .form-grid {
        grid-template-columns: 1fr;
    }

    .dimensions-group {
        grid-template-columns: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }

    .full-width {
        grid-column: span 1;
    }

    .form-group {
        grid-column: span 1;
    }
}

.select-wrapper {
    position: relative;
    font-size: var(--font-size-medium);
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
    background-color: black;
    appearance: none;
}

.dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

@media (max-width: 375px) {

    .file-list button,
    .file-info {
        font-size: var(--font-size-small);
    }
    .file-preview-container {
        min-width: 80px;
        height: 80px;
    }
    .file-preview {
        max-width: 80px;
        max-height: 80px;
    }

    .file-size {
        display: none;
    }
    .drop-zone {
        font-size: var(--font-size-intermediate);
        text-align: left;
        overflow: hidden;
    }
    .drop-zone span {
        font-size: var(--font-size-small);
    }
}