.edit-account-page {
    max-width: 800px;
    background-color: var(--background-color);
    color: var(--font-primary-color);
  }

.email-reset-form,
.password-reset-form {
  margin-bottom: 15px;
  position: relative;
}

.email-reset-form label,
.password-reset-form label {
  display: block;
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: var(--background-color);
  padding: 0 5px;
  font-size: var(--font-size-small);
  pointer-events: none;
  z-index: 100;
  border-radius: 0.5rem;
}

.email-reset-form input,
.password-reset-form input {
  width: 100%;
  padding: var(--padding-medium);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size-intermediate);
  outline: none;
  box-sizing: border-box;
}

.email-reset-form input::placeholder,
.password-reset-form input::placeholder {
  font-size: var(--font-size-medium); /* Adjust the size as needed */
}

@media (max-width: 1000px) {
  .email-reset-form input,
  .password-reset-form input {
    padding: var(--padding-small);
  }
}

@media (max-width: 430px) {
  .email-reset-form input,
  .password-reset-form input {
    padding: var(--padding-small);
  }
}

@media (max-width: 320px) {
  .email-reset-form input,
  .password-reset-form input {
    padding: var(--padding-small);
    font-size: var(--font-size-small);
  }
}

@media (max-width: 270px) {
  .email-reset-form input,
  .password-reset-form input {
    padding: 6px 13px;
    font-size: 10px;
  }
}