.gallery-container {
    margin-inline: auto;
    padding-inline: 1rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    flex-grow: 1;
    color: var(--font-primary-color);
}