
.main-header {
  background-color: rgb(255, 255, 255);
  color: #ffffff;
  font-size: 1rem;
  position: sticky;
  top: 0;
/*   box-shadow: 2px 9px 17px -5px rgba(139, 139, 139, 0.8); */
  border-bottom: 1px solid #0000003a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: 80px;
}

.title-container {
  display: flex;
  align-items: center;
}

.main-title {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
  white-space: nowrap;
  color: #c70000;
}

.sub-title {
  font-size: 1rem;
  margin-right: 1rem;
  white-space: nowrap;
  color: #000000;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  white-space: nowrap;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 0.9rem;
}


@media (max-width: 1000px) {
  .nav-links,
  .login-button {
    display: none;
  }
  
  .hamburger-menu-container {
    display: block;
  }
}

@media (max-width: 768px) {
  .main-header {
/*     flex-direction: column; */
    align-items: center;
    height: auto;
  }
  .sub-title {
    display: none;
  }

  .search-container {
    width: 100%;
    margin: 0.5rem 0;
  }

  .nav-links {
    width: 100%;
    justify-content: space-between;
  }
  .login-button {
    width: 100%;
    justify-content: flex-end;
  }
}

@media (max-width: 515px) {
  .main-title {
    font-size: 2rem;
  }
}