    .stacked {
    display: grid;
    }

    .artwork {
    aspect-ratio: 1 / 1.3;
    }
    
    .stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    }
    
    .artwork__content {
     z-index: 10;
    background: var(--card-background-color);
    opacity: 0.9;
    color: var(--font-primary-color);
    align-self: end;
    margin: .5rem .5rem 1rem;
    padding: .5rem;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / 0.1 );
    } 
    

    .artwork__title{
      font-size: var(--font-size-intermediate);
      line-height: 1.1;
      margin-bottom: 10px;
      }

    .artwork__author {
      font-size: var(--font-size-medium);
      }



    .artwork__year {
      font-size: var(--font-size-small);
    }
    
    .artwork__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
/*     max-width: 700px; */
    }
    .artwork__img:first-child {
    width: 100%;
    aspect-ratio: 1 / 1.15;
    object-fit: cover;
    object-position: center;
    }
    
    
    @media (min-width: 60rem) {
    .artwork__img {
      aspect-ratio: 1 / 1;
    }
    
    .artwork.featured {
      grid-row: span 2;
      grid-column: span 2;
    }
    
    .artwork.featured .artwork__img {
      aspect-ratio: 1 / 1.25;
    }
    
    .artwork.featured .artwork__title {
      font-size: 1.75rem;
    } 
    .banner__title {
      font-size: 2rem;
    }
    }
    

    
/* .car_menu {
  position: absolute;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  }
  .car{
  height: 2rem;
  width: 2rem;
  background-color: aquamarine;
  border-radius: 2px;
  }
  .car:hover {
  width: 4rem;
  transition: 1s;
  }

  .stacked {
  display: grid;
  }

  .card {
  aspect-ratio: 1 / 1.5;
  }
  
  .stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  }
  
  .card__content {
   z-index: 10;
  background: var(--card-background-color);
  color: var(--font-primary-color);
  align-self: end;
  margin: .5rem .5rem 2rem;
  padding: .5rem;
  box-shadow: 0 .25rem 1rem rgb(0 0 0 / 0.1 );
  } 
  
  .card__title{
  font-size: 1.25rem;
  line-height: 1.1;
  }
  
  .card__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  }
  .card__img:first-child {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: bottom;
  }
  
  .card__price {
  font-size: 1.25rem;
  }
  
  @media (min-width: 60rem) {
  .card__img {
    aspect-ratio: 1 / 1;
  }
  
  .card.featured {
    grid-row: span 2;
    grid-column: span 2;
  }
  
  .card.featured .card__img {
    aspect-ratio: 1 / 1.25;
  }
  
  .card.featured .card__title {
    font-size: 1.75rem;
  } 
  .banner__title {
    font-size: 2rem;
  }
  } */
  