.artwork {
/*   aspect-ratio: 1 / 1.3; */
/*   height: fit-content; */
display: flex;
flex-direction: column;
}

.artwork__content {
  z-index: 10;
  background: var(--card-background-color);
  opacity: 0.9;
  color: var(--font-primary-color);
  align-self: end;
  margin:  1rem 0;
  padding: .5rem;
  box-shadow: 0 .25rem 1rem rgb(0 0 0 / 0.1);
  flex-grow: 0.5;
  align-content: center;
  width: 100%;
}


.artwork__title {
  font-size: var(--font-size-intermediate);
  line-height: 1.1;
  margin-bottom: 10px;
  font-style: italic;
  color: var(--font-secondary-color);
}

.artwork__author {
  font-size: var(--font-size-large);
  margin-bottom: 10px;
}



.artwork__year {
  font-size: var(--font-size-intermediate);
}

.artwork__img {
/*   width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover; */
  max-width: 100%;
  display: block;
  flex-grow: 0.5;
  object-fit: cover;
}

/* .artwork__img:first-child {
  width: 100%;
  aspect-ratio: 1 / 1.15;
  object-fit: cover;
  object-position: center;
} */


/* @media (min-width: 600px) {
  .artwork__img {
    aspect-ratio: 1 / 1;
  }

  .artwork.featured {
    grid-row: span 2;
    grid-column: span 2;
  }

  .artwork.featured .artwork__img {
    aspect-ratio: 1 / 1.25;
  }

  .artwork.featured .artwork__title {
    font-size: 1.75rem;
  }

  .banner__title {
    font-size: 2rem;
  }
} */