.artwork {
  aspect-ratio: 1 / 1.3;
  height: fit-content;
  max-width: 350px;
  min-width: 250px;
}

.artwork__content {
  z-index: 10;
  background: var(--card-background-color);
  opacity: 0.9;
  color: var(--font-primary-color);
  align-self: end;
  margin: .5rem .5rem 1rem;
  padding: .5rem;
  box-shadow: 0 .25rem 1rem rgb(0 0 0 / 0.1);
}


.artwork__title {
  font-size: var(--font-size-intermediate);
  line-height: 1.1;
  margin-bottom: 10px;
}

.artwork__author {
  font-size: var(--font-size-medium);
}



.artwork__year {
  font-size: var(--font-size-small);
}

.artwork__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.artwork__img:first-child {
  width: 100%;
  aspect-ratio: 1 / 1.15;
  object-fit: cover;
  object-position: center;
}


/* @media (min-width: 600px) {
  .artwork__img {
    aspect-ratio: 1 / 1;
  }

  .artwork.featured {
    grid-row: span 2;
    grid-column: span 2;
  }

  .artwork.featured .artwork__img {
    aspect-ratio: 1 / 1.25;
  }

  .artwork.featured .artwork__title {
    font-size: 1.75rem;
  }

  .banner__title {
    font-size: 2rem;
  }
} */