.settings-page .form-group .avatar-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  
  .settings-page .choose-avatar-text {
    font-size: var(--font-size-intermediate);
    color: var(--font-primary-color);
    cursor: pointer;
    white-space: nowrap;
  }
  
  .choose-avatar-text:hover, .delete-avatar-text:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
   #about {
    height: 300px;
    margin-bottom: 20px;
  }
  
  .save-button:disabled {
    background: var(--secondary-color);
    cursor: not-allowed;
  }

  .avatar-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    border: 1px solid var(--border-color);
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .avatar-circle, .avatar-upload-spinner-container {
    text-align: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .empty-avatar-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    border: 1px solid var(--border-color);
    text-align: center;
    align-items: center;
    justify-content: center;
  }


.personal-data-disclaimer {
    font-size: 14px;
    color: var(--font-primary-color);
    padding: 20px;
    display: flex;
    gap: 10px;
    background: var(--secondary-color);
    margin-bottom: 20px;
    width: fit-content;
    align-items: center;
}