.carousel-container {
/*   width: 80%; */ /* Adjust the width of the carousel */
  width: 100%;
  margin: 0 auto;
/*   padding: 20px 0; */ 
  position: relative;
  overflow: hidden;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.slick-slide img {
  display: block;
  width: 100%;
  height: auto;
}
.slick-track {
  height: 400px;
}

/* make dots into lines  */

.slick-dots{
/*   margin-bottom: 6px; */
 /*  height: 0px; */
  display: flex !important;
  justify-content: center;
  padding: 0;
  list-style: none;
/*   margin-top: 10px; */
}
.slick-dots li {
  width: 100%; /* Adjust the width of the lines */
  height: 1px; /* Adjust the height of the lines */
  background-color: #ccc; /* Default color of the lines */
  margin: 0 5px;
  cursor: pointer;
}

.slick-dots li.slick-active {
  background-color: var(--secondary-color); /* Color of the active line */
}

.custom-arrow {
  display: block;
  background: transparent;
  width: 30px;
  height: 30px;
}

@media (max-width: 740px) {
  .carousel-container {
    width: 100%;
  }
  .slick-track {
    height: 100%;
  }
/*   .custom-arrow {
    width: 25px;
    height: 25px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
} */
}