.upload-artwork {
/*     max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-artwork h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.file-list {
    margin-top: 10px;
}

.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.file-preview {
    max-width: 100px; /* Adjust as needed */
    max-height: 100px; /* Adjust as needed */
    object-fit: contain;
    margin-right: 10px;
}

.file-info {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}

.file-size {
    flex-shrink: 0;
}

.add-artwork-button, .artwork-submit-button {
    display: block;
    width: 100%;
    padding: 10px;
/*     background-color: #007bff; */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* button:hover {
    background-color: #0056b3;
}

button[type="button"] {
    width: auto;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #dc3545;
}

button[type="button"]:hover {
    background-color: #c82333;
} */

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.completion-bar {
    height: 100%;
    background-color: #28a745;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    z-index: 1; /* Ensure the completion bar is below the button text */
}

button span {
    position: relative;
    z-index: 2; /* Ensure the button text is above the completion bar */
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-grid .form-group {
    margin-bottom: 0;
}

.dimensions-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column: span 2;
}

.dimension {
    display: flex;
    flex-direction: column;
}

.input-with-unit {
    position: relative;
}

.input-with-unit input {
    padding-right: 30px; /* Adjust as needed */
}

.input-with-unit::after {
    content: 'cm';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.full-width {
    grid-column: span 2;
}

@media (max-width: 600px) {
    .form-grid {
        grid-template-columns: 1fr;
    }

    .dimensions-group {
        grid-template-columns: 1fr;
    }

    .full-width {
        grid-column: span 1;
    }

    .form-group {
        grid-column: span 1;
    }
}

.select-wrapper {
    position: relative;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none;
}

.dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}