.edit-profile-page {
  max-width: 800px;
}

.form-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group .avatar-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
}

#about {
  resize: vertical;
  height: 150px;
  /* Set the default height here */
}

.save-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.save-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.avatar-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.avatar-circle i {
  font-size: 20px;
  color: #fff;
}