.edit-profile-page {
  max-width: 800px;
  background-color: var(--background-color);
  color: var(--font-primary-color);
}

.form-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group .avatar-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
/*   border: 1px solid var(--secondary-color); */
}
.avatar-text {
  font-size: var(--font-size-intermediate);
  color: var(--font-primary-color);
  cursor: pointer;
  white-space: nowrap;
}

.avatar-text:hover {
  text-decoration: underline;
}

#about {
  resize: vertical;
  height: 150px;
}

.save-button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.save-button:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}

.avatar-circle {
  min-width: calc(80px + 0.6vw);
  min-height: calc(80px + 0.6vw);
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.avatar-circle i {
  font-size: 20px;
  color: var(--font-secondary-color);
}