footer{
  background: #9a0404;
  border-radius: 5px 5px;
}

.content{
  padding: 30px 40px 40px 40px;
}
.top{
  margin-bottom: 10px;
}
.logo-details{
  color: #fff;
  font-size: 30px;
}
.link-boxes{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.box{
  padding: 0;
  }

.link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.box li{
  margin: 6px 0;
  list-style: none;
  a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
  }
  a:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

.link-boxes .input-box input{
  height: 40px;
  width: 100%;
  outline: none;
  text-align: left;
  border: 2px solid #AFAFB6;
  background: #111;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
  .subscribe-button, .email-field{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.subscribe-button:hover{
  opacity: 1;
  cursor: pointer;
}

  footer .bottom-details{
  width: 100%;
  background: #111;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 700px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
    justify-content: center;
  }
  .box{
    width: 80%;
    margin-top: 10px;
    justify-content: center;
  }
  .bottom_text{
    flex-wrap: wrap;
    align-items: center;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}

