 footer {
   background: var(--background-color);
   color: #111;
   position: relative;
   bottom: 0;
   width: 100%;
 }

 .content {
   padding: 30px 0;
 }

 .top {
   margin: 0 clamp(1em, 5vw, 10em);

 }

 .logo-details {
   color: var(--font-accent-color);
   font-size: 30px;
   display: flex;
   align-items: center;
 }

 .logo_name {
   margin-left: 10px;
   font-size: calc(var(--font-size-large) + 1vw);
   /* Adjust font size based on viewport width */
 }

 .link-boxes {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   margin: 0 clamp(1em, 5vw, 10em);
 }

 .box {
   padding: 0;
 }

 .link_name {
   color: var(--font-primary-color);
   font-size: calc(18px + 0.5vw);
   font-weight: 400;
   margin-bottom: 10px;
   position: relative;
   white-space: nowrap;
 }

 .link-boxes .box .link_name::before {
   content: '';
   position: absolute;
   left: 0;
   bottom: -2px;
   height: 2px;
   width: 35px;
   background: var(--font-primary-color);
 }

 .box li {
   margin: 6px 0;
   list-style: none;
   max-width: 250px;
 }

 .box li a {
  color: var(--font-primary-color);
   text-decoration: none;
   opacity: 0.8;
   transition: all 0.4s ease;
 }

 .box li a:hover {
   opacity: 1;
   text-decoration: underline;
 }

 .link-boxes .input-box input {
   height: 40px;
   outline: none;
   text-align: left;
   border: 2px solid #AFAFB6;
   border-radius: var(--border-radius-small);
   padding: 0 15px;
   color: var(--font-primary-color);
   margin-top: 5px;
   background: transparent;
 }

 .subscribe-button,
 .email-field {
   opacity: 0.7;
   width: 100%;
   transition: all 0.4s ease;
 }

 .subscribe-button:hover {
   opacity: 1;
   cursor: pointer;
 }

 footer .bottom-details {
   width: 100%;
   background: #111;
 }

 footer .bottom-details .bottom_text {
   margin: 0 clamp(1em, 5vw, 10em);
   padding: 20px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

 .bottom-details .bottom_text span,
 .bottom-details .bottom_text a {
  font-size: calc(11px + 0.2vw);
   font-weight: 300;
   color: #fff;
   opacity: 0.8;
   text-decoration: none;
   white-space: nowrap;
 }

 .bottom_text span:first-child {
   margin-bottom: 10px;
 }

 .bottom-details .bottom_text a:hover {
   opacity: 1;
   text-decoration: underline;
 }

 .bottom-details .bottom_text a {
   margin-right: 10px;
 }

 @media (max-width: 700px) {
   footer .content .link-boxes {
     flex-wrap: wrap;
   }

   .box {
     width: 80%;
     margin-top: 10px;
     justify-content: center;
   }

   footer .content .link-boxes .input-box {
     margin-top: 10px;
   }
 }
