:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

/*   color: rgba(255, 255, 255, 0.87);  // This is the color of the global text */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  height: 100%;
  /* place-items: center;
  justify-content: center;
  min-width: 320px; */
  }
  

a {
  font-weight: 500;
  color: #878381;
  text-decoration: inherit;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
}
a:hover {
  /* background-color: rgb(37, 37, 37); */
  color: #410202;
  transform: scale(0.85);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e3e0e0;
  cursor: pointer;
  /* transition: border-color 0.25s; */
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
  white-space: nowrap;
}
button:hover {
  background-color: rgb(37, 37, 37);
  color: #ffffff;
  transform: scale(0.95);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
