/* .artist-card {
  background-color: #8683c1;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-medium);
  align-items: center;
}

.artist-card:hover {
  transform: scale(1.05);
}

.artist-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 300px;
}

.artist-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1rem;
}

.artist-card .info {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.artist-card .info h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  text-align: center;
}

.artist-card .info p {
  margin: 0;
  color: var(--font-primary-color);
}
 */

 /* From Uiverse.io by andrew-demchenk0 */

 .artist-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 300px;
}

.card {
  --main-color: #000;
  --submain-color: #78858F;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: 300px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-medium);
  background: var(--card-background-color);
  margin: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__img {
  height: 192px;
  width: 100%;
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
}


.card__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
}

.card__avatar svg {
  width: 100px;
  height: 100px;
}

.card__title {
  margin-top: 65px;
  font-weight: 500;
  font-size: 18px;
  color: var(--font-primary-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--font-secondary-color);
}

.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}

.card__wrapper button:first-child {
  margin-right: 10px;
}