.artist-card {
  background-color: var(--background-color);
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 300px; /* Set a fixed width for the card */
  height: 400px; /* Set a fixed height for the card */
  display: flex;
  flex-direction: column;
}

.artist-card:hover {
  transform: scale(1.05);
}

.artist-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.artist-card .info {
  padding: 15px;
  flex: 1; /* Allow the info section to take up the remaining space */
  display: flex;
  flex-direction: column;
/*   justify-content: center; */
}

.artist-card .info h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.artist-card .info p {
  margin: 0;
  color: var(--font-primary-color);
}
