.artist-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 300px;
}

.card {
  --main-color: #000;
  --submain-color: #78858F;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: 300px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-medium);
  background: var(--card-background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1.25rem 1.25rem 0 0;
}
.card:nth-of-type(2n+1) {
  margin-right: 1.25rem;
}

.card__img {
  height: 192px;
  width: 100%;
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  object-fit: cover;
  object-position: center;
}


.card__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--card-background-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
  object-fit: cover;
  object-position: center;
}

.card__avatar svg {
  width: 100px;
  height: 100px;
}

.card__title {
  margin-top: 65px;
  font-weight: 500;
  font-size: 18px;
  color: var(--font-primary-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--font-secondary-color);
}

.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}

.card__wrapper button:first-child {
  margin-right: 10px;
}