html, body {
  margin: 0;
/*   height: 100%; */
  background: var(--background-color);
  }

body {
    text-rendering: optimizeSpeed;
    margin-inline: auto;
    line-height: 1.5;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: "Unica77 LL", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
a {
  font-weight: 500;
  color: var(--font-primary-color);
  text-decoration: inherit;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
}
a:hover {
  cursor: pointer;
  color: var(--font-accent-color);
  transform: scale(0.95);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  /* Inherit fonts for inputs and buttons */
input, button, textarea, select {
    font: inherit;
  }

  /* Global button styling */
button {
  border-radius: var(--border-radius-medium);
/*   border: 1px solid var(--font-primary-color-transparent); */
  padding: 0.6em 0.6em;
  font-size: var(--font-size-intermediate);
  font-weight: 500;
  font-family: inherit;
  background: transparent;
  color: var(--font-primary-color);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
  white-space: nowrap;
}
button:hover {
  background: var(--button-hover-color);
  color: var(--font-primary-opposite-color);
/*   transform: scale(0.95); */
}
button:active {
  background: var(--button-active-color);
  color: var(--font-primary-opposite-color);
  transform: scale(0.95);
  border: none;
}
button:disabled {
  background: var(--button-disabled-color, #666); 
  color: var(--font-secondary-color);
  cursor: not-allowed;
  pointer-events: none; 
  transform: none; 
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.svg-inline--fa {
  display: flex;
  margin: auto;
}

.fa {
  margin: 0 10px;
}

body.scroll-locked {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
  /* transition: background-color 0.2s ease; */ /* Smooth theme transitions */
}

body.scroll-locked[data-theme="dark"] {
  background: #121212; /* Dark theme */
}

body.scroll-locked[data-theme="light"] {
  background: #ffffff; /* Light theme */
}

/* Chrome, Safari, Edge, Opera */ 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}