:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #000000;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-color: #fff;
    --primary-color: #000000;
    --secondary-color: #ccc;

    --button-highlight-color: #630000;
    --button-active-color: #ffffff;
    --button-disabled-color: #999999;
    --button-hover-color: #000000;

    --font-primary-color: #000000;
    --font-primary-opposite-color: rgb(255, 255, 255);
    --font-secondary-color: #a7a7a7;
    --font-highlight-color: #007bff;
    --font-accent-color: #c70000;

    --card-background-color: #ffffff;
  
    --font-size-small: 0.6875rem; /* 11px */
    --font-size-medium: 0.8125rem; /* 13px */
    --font-size-intermediate: 1rem; /* 16px */
    --font-size-large: 1.25rem; /* 20px */
    --font-size-xlarge: 1.4rem; /* 22.4px */
  
    --padding-small: 0.5rem; /* 8px */
    --padding-medium: 0.625rem; /* 10px */
    --padding-large: 1.25rem; /* 20px */
  
    --margin-small: 0.5rem; /* 8px */
    --margin-medium: 0.625rem; /* 10px */
    --margin-large: 1.25rem; /* 20px */
  
    --border-color: #ccc;
    --border-radius: 0.25rem; /* 4px */
  
    --box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1); /* 0 2px 10px */
    --ff-primary: "Barlow Semi Condensed", sans-serif;
  
    --fw-400: 500;
    --fw-700: 600;
  }

  :root.dark-theme {
    --background-color: #020025;
    --primary-color: #ffffff;
    --secondary-color: #5e66ff;

    --font-primary-color: #ffffff;
    --font-secondary-color: #999999;
    --font-highlight-color: #ff8000;
    --font-accent-color: #4456ff;

    --button-highlight-color: #00632d;
    --button-active-color: #000000;
    --button-hover-color: #7369ad;
    --button-disabled-color: #d4d4d4;

    --card-background-color: #000455;
    
    /* Add other dark theme variables here */
  }