@import "./_variables.css";   /* Importing design tokens */
@import "./_reset.css";       /* Importing reset styles */
@import "./_base.css";        /* Importing base element styles */

.central-container {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  min-width: 300px;
  margin-top: 80px;
}


@media (min-width: 992px) {
  .central-container {
  margin-top: 193px; /* 160px header height + padding 1rem */
  }
}