@import "./_variables.css";   /* Importing design tokens */
@import "./_reset.css";       /* Importing reset styles */
@import "./_base.css";        /* Importing base element styles */

.central-container {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
 /*  margin-top: 92px; */ /* 70px header height + padding 0 20px */
}


@media (min-width: 992px) {
  .central-container {
  margin-top: 200px; /* 160px header height + padding 0 20px */
  }
}