@import "./_variables.css";   /* Importing design tokens */
@import "./_reset.css";       /* Importing reset styles */
@import "./_base.css";        /* Importing base element styles */

.master-container {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.central-container {
  flex-grow: 1;
}








