@import "./_variables.css";   /* Importing design tokens */
@import "./_reset.css";       /* Importing reset styles */
@import "./_base.css";        /* Importing base element styles */

.central-container {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  min-width: 300px;
  margin-top: 80px;
}

.central-container.no-margin { /* this is used to remove the margin top when on the upload artwork component */
  margin-top: 0;
}

@media (min-width: 992px) {
  .central-container {
  margin-top: 177px; /* 160px header height + padding 1rem */
  }
}