/* src/Pages/Users/UserPage-style.css */
.user-page {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em 0.5em;
    font-family: Arial, sans-serif;
    color: black;
}


.profile-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.profile-section .avatar {
    margin-right: 20px;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    max-width: 20vw; /* Adjust as needed */
    max-height: 20vw; /* Adjust as needed */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}
.profile-section span {
    font-size: 24px;
    font-weight: bold;
}

.gallery-section {
    margin-bottom: 20px;
}

.gallery-section h2 {
    margin: 1em 0.8em;
}

.upload-section {
    text-align: center;
}

.upload-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #0056b3;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 200px; /* Adjust as needed */
    position: relative;
}

.empty-gallery-message {
    text-align: center;
    font-size: 16px;
    color: #666;
    position: absolute;
}