/* 
.user-menu {
    position: relative;
    display: inline-block;
}

.user-icon {
    cursor: pointer;
    font-size: 24px;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
}

.dropdown-menu button:hover {
    background-color: #f0f0f0;
} */


.user-menu{
    display: inline-block;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    right: 0;
    color: rgba(0, 0, 0, 0.726);
  }

.user-info {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 50%;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    display: flex;
  }

  .profile-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .profile-name {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .view-profile {
    margin-left: 10px;
    font-size: 12px;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 10px;
    right: 0;
    width: 200px;
  }
  
  .collection, .favorites, .settings {
    margin: 10px 0;
  }
  
  .collection p, .favorites p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .collection-item { 
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: black;
  }
  
  .divider {
    width: 100%;
    height: 1px;
    background-color: #6a69693a;
    margin: 1rem 0;
  }