.button-container {
/*   text-align: center; */
}

.login-button {
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(37, 37, 37);
  border: none;
  border-radius: 45px;
  border: 1px solid #00000052;
  white-space: nowrap; /* Ensure text remains on one line */
}